.home-screen {
  min-height: 800px;
  max-height: 1000px;
  height: 100vh;
  position: relative;
  &__background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    .image {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &::after, &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 3;
      pointer-events: none;
      transition: opacity $trs2;
    }
    &:after {
      opacity: var(--opacity-light);
      background: linear-gradient(180deg, rgba(69, 69, 69, 0.45) 0%, rgba(31, 34, 73, 0.51) 59.37%, rgba(82, 91, 202, 0.47) 100%);
    }
    &::before {
      opacity: var(--opacity-dark);
      background: linear-gradient(180deg, rgba(69, 69, 69, 0.45) 0%, rgba(49, 49, 49, 0.51) 59.37%, rgba(74, 74, 74, 0.47) 100%);
    }
    .background-video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      &__element {
        opacity: 0;
        visibility: hidden;
        transition: opacity $trs5, visibility $trs5;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.loaded {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &__container {
    height: 100%;
    padding: 210px 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  
  &__nav {
    position: absolute;
    z-index: 3;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    .button-text {
      position: absolute;
    }
  }
  &__next {
    right: $container-padding-x;
  }
  &__title {
    margin: 0;
  }
  &__text {
    margin: 0 !important;
  }
  &__content {
    height: 100%;
    max-height: 340px;
    .row {
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: nowrap;
      height: 100%;
      position: relative;
      z-index: 2;
    }
  }
  @include media-breakpoint-down(xxl) {
    min-height: 600px;
    max-height: 800px;
    &__container {
      padding: 180px 0 80px 0;
    }
    &__nav {
      top: 120px;
    }
  }
  @include media-breakpoint-down(lg) {
    min-height: 800px;
    max-height: 920px;
    &__container {
      padding: 200px 0 100px 0;
    }
    &__content {
      max-height: 480px;
    }
    &__nav {
      top: 130px;
    }
  }
  @include media-breakpoint-down(sm) {
    min-height: 540px;
    max-height: 700px;
    &__container {
      padding: 70px 0;
    }
    &__content {
      max-height: 100%;
      text-align: center;
    }
    &__nav {
      top: 95px;
    }
    &__title {
      display: flex;
      flex: 1 1 100%;
      align-items: center;
    }
    &__text {
      flex-shrink: 0;
    }
    &__next {
      right: $mobile-container-padding-x;
    }
  }
}

.home {
  display: flex;
  flex-direction: column;
  &__content {
    padding: 200px 0 100px 0;
    flex: 1 1 100%;
    position: relative;
    display: flex;
    align-items: center;
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__title {
    margin: 0;
  }
  &__text {
    margin: 0 !important;
  }
  &__info {
    flex: 0 0 auto;
    background: var(--color-bg-accent);
    transition: background-color $trs2;
  }
  &-item {
    padding-top: 50px;
    padding-bottom: 80px;
    &__head {
      margin: 0 0 5px 0;
    }
  }
  &-more {
    padding-left: 55px;
    padding-top: 62px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--color-text-dark);
    transition: color $trs2;
    &__content {
      position: relative;
      z-index: 2;
    }
    p {
      margin-bottom: 10px;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: calc(100% + #{$xxl-field});
      background-color: var(--color-bg-light);
      transition: background-color $trs2;
      pointer-events: none;
    }
  }
  @include media-breakpoint-up(sm) {
    &-item {
      &__head {
        br {
          display: none;
        }
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    &__content {
      padding: 160px 0 70px 0;
    }
    &-item {
      padding-top: 40px;
      padding-bottom: 50px;
      padding-right: 40px;
    }
    &-more {
      padding-left: 40px;
      padding-top: 52px;
      &:before {
        width: calc(100% + #{$xl-field});
      }
    }
  }
  @include media-breakpoint-between(lg, xxl) {
    @media (max-height:660px) {
      &__content {
        padding: 135px 0 50px 0;
      }
      &-item {
        padding-top: 30px;
        padding-bottom: 35px;
      }
      &-more {
        padding-top: 42px;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    &__content {
      padding: 135px 0 50px 0;
    }
    &-item {
      padding-right: 24px;
    }
    &-more {
      padding-left: 30px;
      &:before {
        width: calc(100% + #{$lg-field});
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__content {
      padding: 160px 0 70px 0;
    }
    &-item {
      padding-right: $grid-gutter-width/2;
      padding-top: 32px;
      padding-bottom: 46px;
    }
    &-more {
      padding-left: $grid-gutter-width/2;
      padding-top: 30px;
      padding-bottom: 30px;
      &:before {
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  @include media-breakpoint-between(md, lg) {
    &-more {
      &__content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        max-width: 550px;
        margin: 0 0 0 auto;
        p {
          margin: 0;
        }
        .button-text {
          flex-shrink: 0;
          margin-left: 24px;
        }
      }
    }
  }
  @include media-breakpoint-between(sm, md) {
    &-item {
      font-size: 0.875rem;
    }
  }
  @include media-breakpoint-down(md) {
    &__content {
      padding: 140px 0 50px 0;
    }
    &-more {
      &__content {
        display: block;
        text-align: left;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    max-height: initial;
    height: auto;
    display: block;
    &__title {
      flex: 1 1 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__text {
      flex: 0 0 auto;
    }
    &-more {
      &__content {
        text-align: center;
      }
    }
    &-item {
      text-align: center;
      &__head {
        margin-bottom: 8px;
      }
      &__index {
        margin-bottom: 4px;
        font-size: 1.75rem;
        display: block;
      }
    }
    &__content {
      height: 100vh;
      min-height: 560px;
      max-height: 700px;
      padding-top: 70px;
    }
    &-item {
      padding-top: 0;
      padding-bottom: 60px;
      &:nth-child(2) {
        padding-top: 80px;
      }
      &:last-child {
        padding-bottom: 80px;
      }
    }
  }
}

.form-section {
  &__label {
    bottom: 0;
    left: $container-padding-x;
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 64px;
      background-color: var(--color-bg-accent);
      transition: background-color $trs2;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate(-50%, 10px);
    }
  }
  &__head {
    align-items: flex-start;
    margin-bottom: 80px;
  }
  @include media-breakpoint-up(lg) {
    &__title {
      transform: translateY(-6px);
      margin: 0;
    }
    &__submit {
      margin-top: 34px;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__label {
      bottom: 20px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__label {
      display: none;
    }
    &__head {
      text-align: center;
      margin-bottom: 40px;
    }
  }
}

.contacts {
  padding-bottom: 0 !important;
  &__head {
    padding-bottom: 120px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__item {
    position: relative;
    padding-left: 34px;
    border: none !important;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    .icon {
      height: 24px;
      width: 20px;
      opacity: 0.5;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
  }
  &__map {
    position: relative;
    height: 600px;
    background-color: var(--color-bg-images);
    &-element {
      position: relative;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
      border: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity $trs5, visibility $trs5;
      &.lazyloaded {
        transition-delay: .5s;
        opacity: 1;
        visibility: visible;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__title {
      margin: 0;
      transform: translateY(-6px);
    }
  }
  @include media-breakpoint-down(xxl) {
    &__head {
      padding-bottom: 100px;
    }
    &__map {
      height: 480px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__head {
      padding-bottom: 80px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__title {
     margin-bottom: 40px;
    }
    &__map {
      height: 400px;
    }
    &__head {
      padding-bottom: 60px;
      text-align: center;
    }
    &__block {
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 45px;
      }
    }
    &__item {
      padding: 34px 0 0 0;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
      .icon {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.work-slider {
  &__head {
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  &__content {
    position: relative;
    z-index: 2;
    margin: -40px 0 0 0;
    overflow: hidden;
  }
  
  @include media-breakpoint-up(lg) {
    &__title {
      margin: 0;
      transform: translateY(-6px);
    }
  }
  @include media-breakpoint-up(xl) {
    &__splide {
      visibility: visible !important;
    }
    &__splide-list {
      display: flex;
      width: 100% !important;
    }
    &__splide-track {
      overflow: visible !important;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__head {
      padding-bottom: 80px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__splide {
      width: 1280px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
    &__head {
      padding-bottom: 40px;
      border-bottom: none;
    }
    &__content {
      margin: 0;
    }
  }
  @include media-breakpoint-down(lg) {
    &__splide {
      width: 1000px;
    }
  }
  @include media-breakpoint-down(md) {
    &__head {
      text-align: center;
    }
  }
  @include media-breakpoint-down(sm) {
    &__splide {
      width: 880px;
    }
  }
}

.work-slide {
  position: relative;
  z-index: 2;
  &__container {
    display: block;
  }
  &__image {
    img {
      opacity: 1;
      visibility: visible;
    }
  }
  &__content {
    position: relative;
  }
  &__index {
    position: absolute;
    z-index: 2;
    margin: 0 !important;
  }
  &:not(.is-active) {
    z-index: 1;
  }

  @include media-breakpoint-up(xxl) {
    &:not(.is-active) {
      .work-slide {
        &__content {
          transform: translateX(50px);
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    flex: 1 1 100%;
    transition: z-index .2s step-start, transform $trs4, opacity $trs4;
    &:first-child, &:last-child {
      .work-slide__image img {
        width: calc(100% + 5px);
        max-width: initial;
      }
    }
    &:first-child {
      transform: translateX($container-padding-x);
      .work-slide__image img {
        width: calc(100% + 5px);
        transform: translateX(-5px);
      }
    }
    &:last-child {
      transform: translateX(#{-$container-padding-x});
    }
    &__background {
      padding-top: 140%;
      margin-bottom: 52px;
      position: relative;
      display: flex;
      justify-content: center;
    }
    &__image {
      transition: padding-top $trs4, box-shadow $trs4, transform $trs4, width $trs4;
      position: absolute;
      top: 0;
      transform: translateY(0);
      width: calc(100% + #{$container-padding-x * 2});
      padding-top: 140%;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
      overflow: visible;
    }
    &__content {
      transition: margin-top $trs4, padding-bottom $trs4, transform $trs4;
      transform: translateX(0);
      top: 0;
      margin-top: 0;
      padding-bottom: 0;
    }
    &__title {
      transition: opacity $trs4;
    }
    &__index {
      transition: transform $trs4, opacity $trs4, visibility $trs4;
      bottom: 100%;
      transform: translateY(-30px);
    }
    &__text {
      transition: opacity $trs4, visibility $trs4;
      opacity: 1;
      visibility: visible;
    }
    &:not(.is-active) {
      transition: z-index .2s step-end, transform $trs2, opacity $trs2;
      &:first-child, &:last-child {
        transform: translate(0);
      }
      .work-slide {
        &__image {
          transition: padding-top $trs2, box-shadow $trs2, transform $trs2, width $trs2;
          padding-top: 60%;
          transform: translateY(80px);
          box-shadow: none;
          width: 100%;
        }
        &__title {
          transition: opacity $trs2;
        }
        &__index {
          transition: transform $trs2, opacity $trs2, visibility $trs2;
          transform: translateY(-34px);
        }
        &__content {
          transition: margin-top $trs2, padding-bottom $trs2, transform $trs2;
          margin-top: calc(-80% + 50px);
          padding-bottom: calc(80% - 50px);
          transform: translateX(30px);
        }
        &__text {
          transition: opacity $trs2, visibility $trs2;
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
  @include media-breakpoint-down(xl) {
    transition: opacity $trs4;
    &__background {
      height: 400px;
      position: relative;
    }
    &__image {
      position: absolute;
      top: 50%;
      transition: transform $trs4;
      height: 300px;
      width: 100%;
      transform: translateY(-50%) scale(1.33);
    }
    &__index {
      transition: opacity $trs4;
      bottom: 100%;
      transform: translate(-50%, -27px);
    }
    &__title {
      transition: opacity $trs4;
    }
    &__text {
      transition: opacity $trs4;
    }
    &__content {
      transition: transform $trs4;
      padding-top: 22px;
      width: calc(100% + 84px);
      transform: translate(-42px, 0);
    }
    &:not(.is-active) {
      opacity: 0.6;
      .work-slide {
        &__container {
          pointer-events: none;
        }
        &__title {
          transition: opacity $trs2;
        }
        &__text {
          transition: opacity $trs2;
          opacity: 0;
        }
        &__index {
          transition: opacity $trs2;
          transform: translate(0, -42px);
          opacity: 0;
        }
        &__image {
          transition: transform $trs2;
          transform: translateY(-50%) scale(1);
        }
        &__content {
          transition: transform $trs2;
          transform: translate(30px, -50px);
        }
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__background {
      height: 360px;
    }
    &__image {
      height: 270px;
    }
    &__index {
      transform: translate(-50%, -25px);
    }
    &__content {
      width: calc(100% + 66px);
      transform: translate(-33px, 0);
    }
    &:not(.is-active) {
      .work-slide {
        &__content {
          transform: translate(30px, -46px);
        }
        &__title {
          opacity: 0;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__background {
      height: 260px;
    }
    &__image {
      height: 196px;
    }
    &__content {
      width: calc(100% + 58px);
      transform: translate(-29px, 0);
      padding-top: 20px;
    }
    &__index {
      transform: translate(-50%, -14px);
      font-size: 1.75rem;
    }
    &:not(.is-active) {
      .work-slide {
        &__index {
          transform: translate(-50%, -13px);
        }
        &__content {
          transform: translate(30px, -33px);
        }
      }
    }
  }
}

.about {
  overflow: hidden;
  &__head {
    position: relative;
    z-index: 2;
  }
  &__photo {
    max-width: 220px;
    width: 100%;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 32px;
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    img {
      border-radius: 100%;
    }
  }
  &__info {
    text-align: center;
  }
  &__descr {
    color: var(--color-text-gray);
    transition: color $trs2;
  }
  &__content {
    position: relative;
    padding: 65px 0;
    .icon-logo {
      width: 320px;
      height: 320px;
      position: absolute;
      top: 0;
      left: 125px;
      transition: color $trs2;
      color: var(--color-logo-transparent);
    }
    .icon {
      position: absolute;
      width: 30px;
      height: 24px;
      color: var(--color-bg-accent);
      transition: color $trs2;
      &:first-child {
        top: 0;
        left: 0;
      }
      &:last-child {
        bottom: 0;
        right: 60px;
      }
    }
  }
  &__container {
    position: relative;
  }
  &__signature {
    position: absolute;
    width: 280px;
    height: 85px;
    right: $container-padding-x;
    bottom: 0;
    color: var(--color-signature);
    transition: color $trs2;
  }
  &__text {
    position: relative;
    z-index: 2;
  }
  @include media-breakpoint-down(xl) {
    &__container {
      padding-bottom: 80px;
    }
    &__content {
      .icon-logo {
        left: 70px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__photo {
      width: 100px;
    }
    &__container {
      padding-bottom: 60px;
    }
    &__signature {
      width: 190px;
      height: 52px;
      right: 110px;
    }
    &__content {
      .icon {
        &:last-child {
          right: 0;
        }
      }
      .icon-logo {
        width: 220px;
        height: 220px;
        top: 40px;
        left: 60px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__head {
      margin-bottom: 40px;
    }
    &__photo {
      width: 100%;
      margin: 0;
    }
    &__signature {
      left: 66px;
      right: auto;
      width: 163px;
      height: 61px;
    }
    &__info {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__content {
      padding: 40px 0;
      .icon-logo {
        width: 160px;
        height: 160px;
        top: 0;
        left: auto;
        right: 0;
      }
      .icon {
        width: 23px;
        height: 18px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__signature {
      left: calc(8.33% + #{$mobile-container-padding-x});
    }
  }
}

.scroll-btn {
  position: absolute;
  width: 120px;
  height: 120px;
  display: flex;
  &::before {
    content: '';
    display: block;
    background-color: var(--color-bg-accent);
    color: var(--color-light);
    transition: background-color $trs2, transform $trs2;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 100%;
  }
  .icon {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 18px;
    height: 18px;
    transform: rotate(90deg);
    transition: transform $trs5;
  }
  &[data-hover], &[data-touch] {
    &::before {
      transform: scale(0.95);
    }
  }
  &[data-focus] {
    &::before {
      transform: scale(0.9);
    }
  }
  @include media-breakpoint-down(lg) {
    width: 90px;
    height: 90px;
    .icon {
      width: 16px;
      height: 16px;
    }
  }
  @include media-breakpoint-down(sm) {
    width: 60px;
    height: 60px;
  }
}

.v-section {
  z-index: 2;
  &__wrapper {
    position: relative;
    z-index: 2;
  }
  &__btn {
    z-index: 1;
    .icon {
      &.top {
        transform: rotate(270deg);
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__btn {
      position: absolute;
      top: 50%;
      left: 713px;
      margin-left: -60px;
      margin-top: -60px;
      .icon {
        &.forward {
          transform: rotate(0);
        }
        &.back {
          transform: rotate(180deg);
        }
      }
    }
    &__outer {
      width: 100%;
      height: 100vh;
      position: absolute;
      padding-top: inherit;
      padding-bottom: inherit;
      &:not(.fixed) {
        padding-right: 0 !important;
      }
      &.fixed {
        position: fixed;
      }
    }
    &__container {
      height: 100%;
    }
    &__wrapper {
      height: 100%;
      width: 100%;
    }
    &__content {
      position: absolute;
      height: 100%;
      display: flex;
      z-index: 2;
    }
    &__title {
      position: absolute;
      top: -8px;
      z-index: 1;
    }
    .content-block {
      &:not(:last-child) {
        margin: 0 204px 0 0;
      }
      &:nth-child(odd) {
        width: 588px;
        .content-block__image {
          order: 1 !important;
          margin-bottom: 40px !important;
        }
        .content-block__text {
          order: 2 !important;
        }
      }
      &:nth-child(even) {
        width: 500px;
        .content-block__image {
          order: 2 !important;
          margin-top: 40px !important;
        }
        .content-block__text {
          order: 1 !important;
        }
      }
      &__image {
        width: 100% !important;
        flex: 1 1 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        .image {
          height: 100% !important;
          width: 100% !important;
          transform: translate(0) !important;
          &::before {
            display: none !important;
          }
        }
      }
      &__text {
        flex: 0 0 auto !important;
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
      &__container {
        height: 100% !important;
        flex-direction: column !important;
        flex-wrap: nowrap !important;
      }
    }
    //
    &_type-1 {
      .content-block {
        &:first-child {
          padding-top: 124px;
        }
        &:nth-child(2) {
          width: 620px;
          .content-block__text {
            padding-left: 200px;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    &__btn {
      left: 825px;
    }
    .content-block {
      &:nth-child(odd) {
        width: 684px;
        .content-block__image {
          margin-bottom: 48px !important;
        }
      }
      &:nth-child(even) {
        width: 588px;
        .content-block__image {
          margin-top: 48px !important;
        }
      }
      &:not(:last-child) {
        margin: 0 236px 0 0;
      }
    }
    //
    &_type-1 {
      .content-block {
        &:first-child {
          padding-top: 156px;
        }
        &:nth-child(2) {
          width: 610px;
        }
      }
    }
  }
  @include media-breakpoint-down(xl) {
    &__btn {
      left: 50%;
      transform: translateX(-50%);
      top: -180px;
    }
    &__title {
      margin-bottom: 80px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__btn {
      top: -160px;
    }
    &__title {
      text-align: center;
      margin-bottom: 100px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__title {
      margin-bottom: 60px;
    }
    &__btn {
      top: -110px;
    }
  }
}

.content-block {
  &:not(:last-child) {
    margin-bottom: 80px;
  }
  &__image {
    margin-bottom: 34px;
  }
  .vertical-text {
    display: none;
    &_left {
      left: $grid-gutter-width/2;
    }
    &_right {
      right: $grid-gutter-width/2;
    }
  }
  &__head {
    position: relative;
    margin-bottom: 18px;
    padding-left: calc(16.66% + #{$mobile-container-padding-x/2});
  }
  &__text {
    position: relative;
  }
  &__content {
    position: relative;
    padding-left: calc(16.66% + #{$mobile-container-padding-x/2});
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: calc(#{$mobile-container-padding-x/2} + 7px);
      top: 6px;
      height: calc(100% - 12px);
      width: 1px;
      background-color: currentColor;
    }
  }
  &__index {
    position: absolute;
    top: 0;
    left: $mobile-container-padding-x/2;
    width: 15px;
    text-align: center;
  }
  @include media-breakpoint-up(sm) {
    &:not(:last-child) {
      margin-bottom: 100px;
    }
    &__index {
      line-height: 25px;
      left: $container-padding-x/2;
    }
    &__content {
      &::before {
        left: calc(#{$container-padding-x/2} + 7px);
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .vertical-text {
      display: block;
    }
    &__index {
      line-height: 30px;
    }
    &__image {
      margin-bottom: 0;
    }
    &__container {
      align-items: center;
    }
  }
  @include media-breakpoint-up(xxl) {
    &__head {
      margin-bottom: 24px;
    }
    &:not(:last-child) {
      margin-bottom: 120px;
    }
  }
}