.button-text {
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: 600;
  line-height: 24px;
  padding-top: 1px;
  display: inline-flex;
  color: var(--color-btn-light);
  transition: color $trs1;
  position: relative;
  white-space: nowrap;
  &__loader {
    opacity: 0;
    pointer-events: none;
    display: block;
    position: absolute;
    top: calc(100% + 8px);
    width: 12px;
    height: 2px;
    background-color: currentColor;
    animation: loading 0.5s infinite ease-in-out alternate;
    transition: opacity $trs2, background-color $trs2;
    @keyframes loading {
      0% {
        left: 0;
        width: 12px;
      }
      50% {
        width: 30px;
      }
      100% {
        left: calc(100% - 12px);
        width: 12px;
      }
    }
  }
  &.loading {
    pointer-events: none;
    .button-text__loader {
      opacity: 1;
    }
  }

  .icon {
    width: 12px;
    height: 25px;
    margin-top: -1px;
    transition: transform $trs2;
    &:last-child {
      margin-left: 16px;
    }
    &:first-child {
      margin-right: 16px;
      transform: rotate(180deg);
    }
  }
  &[data-touch], &[data-hover] {
    .icon {
      &:last-child {
        transform: translateX(6px);
      }
      &:first-child {
        transform: translateX(-6px) rotate(180deg);
      }
    }
  }
  &[data-focus] {
    color: var(--color-btn-light-click);
  }

  &_accent {
    color: var(--color-btn-accent);
    &[data-focus] {
      color: var(--color-btn-accent-click);
    }
  }

  @include media-breakpoint-down(xl) {
    font-size: 1rem;
    .icon {
      width: 10px;
      &:last-child {
        margin-left: 12px;
      }
      &:first-child {
        margin-right: 12px;
      }
    }
    &[data-touch], &[data-hover] {
      .icon {
        &:last-child {
          transform: translateX(4px);
        }
        &:first-child {
          transform: translateX(-4px) rotate(180deg);
        }
      }
    }
  }
}