//bg
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: opacity $trs3, visibility $trs3;
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
  }
  &_left {
    background-position-x: left;
  }
  &_right {
    background-position-x: right;
  }
  &_top {
    background-position-y: top;
  }
  &_bottom {
    background-position-y: bottom;
  }
}
//images
.image {
  display: block;
  position: relative;
  img {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity $trs3, visibility $trs3;
    &.lazyloaded {
      opacity: 1;
      visibility: visible;
    }
  }
  &_cover,
  &_contain {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &_cover {
    background-color: var(--color-bg-images);
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}

.socials {
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 14px;
    }
  }
  &__link {
    display: block;
    width: 30px;
    height: 30px;
    margin: -4px;
    padding: 4px;
    font-size: 0;
    color: var(--color-text-dark);
    transition: color $trs1;
    .icon {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.dev-label {
  a {
    font-size: 0;
    display: inline-block;
    transform: translateY(5%);
    color: inherit;
  }
  svg {
    height: 15px;
    width: 73px;
  }
}