.footer {
  flex-shrink: 0;
  padding: 40px 0 50px;
  position: relative;
  &__container {
    padding-top: 80px;
    .row {
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  &__logo {
    display: block;
    height: 56px;
  }
  @include media-breakpoint-down(xxl) {
    &__container {
      padding-top: 80px;
    }
  }
  @include media-breakpoint-down(lg) {
    padding: 40px 0;
    &__container {
      padding-top: 70px;
    }
    &__copyright {
      margin-top: 40px;
    }
    &__logo {
      height: 46px;
    }
  }
  @include media-breakpoint-down(md) {
    &__container .row {
      flex-direction: column;
      align-items: center;
    }
    &__logo {
      margin-bottom: 40px;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 35px 0 30px 0;
    &__container {
      padding-top: 60px;
    }
    &__logo {
      height: 40px;
    }
  }
}