.header {
  flex-shrink: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color $trs2, color $trs2;
  color: var(--color-header);
  &_nav-opened, &_fixed {
    .nav-toggle__burger > span span,
    .nav-toggle__close span::before {
      background-color: var(--color-header3);
    }
    .theme-toggle-btn {
      &::after {
        background-color: var(--color-header3);
      }
    }
  }
  &_nav-opened {
    .header__phone {
      opacity: 0;
    }
  }
  &_fixed {
    background-color: var(--color-fixed-header-bg);
    color: var(--color-header2);
    &:not(.header_nav-opened) {
      .header__container {
        height: 70px;
      }
      .header__logo {
        height: 38px;
      }
    }
    .header__logo {
      .logo-words {
        opacity: 0;
      }
    }
    .header__container {
      border-color: transparent;
    }
  }
  & > .container {
    position: static;
  }
  &__container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-text-light);
    transition: height $trs3, border-color $trs3;
  }
  &__phone {
    display: inline-block;
    margin: 0 52px 0 0;
    text-decoration: none;
    color: inherit;
    transition: opacity $trs2;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__logo {
    height: 46px;
    transition: height $trs3;
    color: inherit;
    .logo-words {
      transition: opacity $trs3;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__container {
      height: 90px;
    }
  }
}

.logo {
  svg {
    display: block;
    height: 100%;
    width: auto;
    color: inherit;
  }
}

.nav-toggle {
  width: 50px;
  height: 50px;
  margin: -7px;
  padding: 14px 7px;
  z-index: 3;
  position: relative;
  &__burger {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    display: flex;
    overflow: hidden;
    &>span {
      width: 100%;
      height: 4px;
      transition: transform 285ms ease-out;
      position: relative;
      &:nth-child(2) {
        transition-delay: 73ms;
      }
      &:nth-child(3) {
        transition-delay: 142ms;
      }
      span {
        display: block;
        width: 100%;
        height: 100%;
        transition: background-color $trs3;
        background-color: var(--color-header);
        position: relative;
        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-color: inherit;
          position: absolute;
          left: 200%;
          top: 0;
        }
      }
    }
  }
  &__close {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    span {
      display: block;
      width: 36px;
      height: 4px;
      transition: transform 250ms ease-out;
      position: absolute;
      top: 50%;
      left: 50%;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--color-header);
        transition: background-color $trs3;
      }
      &:first-child {
        transform: translate(-50%, -50%) rotate(45deg) scaleX(0);
      }
      &:last-child {
        transform: translate(-50%, -50%) rotate(-45deg) scaleX(0);
      }
    }
  }
  &[data-touch], &[data-hover] {
    .nav-toggle {
      &__burger {
        &>span {
          transform: translateX(-200%);
        }
      }
    }
  }
  &.active {
    .nav-toggle {
      &__burger {
        &>span {
          transform: translateX(-300%);
        }
      }
      &__close {
        span {
          transition-delay: 250ms;
          &:first-child {
            transform: translate(-50%, -50%) rotate(45deg) scaleX(1);
          }
          &:last-child {
            transform: translate(-50%, -50%) rotate(-45deg) scaleX(1);
          }
        }
      }
    }
  }
}

.theme-toggle-btn {
  position: relative;
  width: 46px;
  height: 22px;
  margin-right: 43px;
  position: relative;
  z-index: 3;
  &::before {
    content: '';
    position: absolute;
    background-color: var(--color-tt-bg);
    width: 32px;
    height: 8px;
    border-radius: 8px;
    left: 7px;
    top: 7px;
    transition: background-color $trs3;
  }
  &::after {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background-color: var(--color-tt-dot);
    top: 0;
    left: var(--pos-tt);
    position: absolute;
    transition: transform $trs1, left $trs3, background-color $trs3;
  }
  &[data-touch], &[data-hover] {
    &::after {
      transform: scale(1.1);
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  color: var(--color-text-dark);
  transition: color $trs3;
  &_opened {
    .nav__content {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--color-bg-nav);
  }
  &__copy {
    position: absolute;
    bottom: 160px;
    left: 470px;
    width: 1rem;
    height: 245px;
    line-height: 1;
    white-space: nowrap;
    box-sizing: content-box;
    &-wrap {
      width: 100%;
      height: 100%;
      position: relative;
    }
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  &__theme {
    line-height: 22px;
    width: 130px;
    color: inherit;
    white-space: nowrap;
    position: relative;
    color: var(--color-header3);
    margin: 0;
    transition: color $trs3;
    text-align: left;
  }
  &__line {
    position: absolute;
    width: calc(370px - #{$container-padding-x});
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: var(--color-text-dark);
    transition: background-color $trs3;
  }
  &__container {
    background-color: var(--color-bg-light);
    transition: background-color $trs3;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 2;
    box-sizing: content-box;
  }
  &__head {
    background-color: var(--color-bg-light);
    transition: background-color $trs3;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - #{$container-padding-x});
    height: 100px;
    z-index: 3;
    display: flex;
    align-items: center;
    padding-left: 90px;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__block {
    width: 370px;
    min-height: 100%;
    padding: 200px 24px 80px 90px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__list {
    margin-bottom: 60px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__link {
    text-decoration: none;
    color: var(--color-navb-1);
    transition: color $trs1;
    display: block;
    &[data-touch], &[data-hover] {
      color: var(--color-navb-2);
    }
    &[data-focus] {
      color: var(--color-navb-3);
    }
  }
  .dev-label {
    margin-top: 60px;
  }
  @include media-breakpoint-down(xxl) {
    &__link {
      font-size: 1.25rem;
    }
    &__head {
      height: 90px;
      padding-left: 60px;
    }
    &__line {
      width: calc(335px - #{$container-padding-x});
    }
    &__block {
      padding: 140px 24px 40px 60px;
      width: 335px;
    }
    .dev-label {
      margin-top: 50px;
    }
    &__list {
      margin-bottom: 40px;
    }
    &__copy {
      left: auto;
      bottom: 120px;
      right: $container-padding-x;
    }
  }
  @include media-breakpoint-between(xl, xxl) {
    @media (max-height:660px) {
      &__block {
        padding: 130px 24px 35px 60px;
      }
      &__item {
        &:not(:last-child) {
          margin-bottom: 18px;
        }
      }
    }
  }
}
