.header {
  flex-shrink: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  z-index: 1000;
  transition: background-color $trs2, color $trs2, transform $trs5;
  color: var(--color-text-light);
  background-color: transparent;
  &_sticky {
    background-color: transparent !important;
  }
  &_nav-opened, &_fixed {
    .theme-toggle-btn::after,
    .nav-toggle__burger > span span,
    .nav-toggle__close span:before {
      background-color: var(--color-btn-dark);
    }
  }
  &_nav-opened {
    .header__phone {
      opacity: 0;
    }
    .nav-toggle {
      &[data-touch], &[data-hover] {
        .nav-toggle__close span:before {
          background-color: var(--color-btn-dark-hover);
        }
      }
      &[data-focus] {
        .nav-toggle__close span:before {
          background-color: var(--color-btn-dark-click);
        }
      }
    }
  }
  &_fixed {
    background-color: var(--color-bg-light);
    color: var(--color-text-dark);
    &:not(.header_nav-opened) {
      &.header_hidden {
        transform: translateY(-100%);
      }
      .header__container {
        height: 70px;
      }
      .header__logo {
        height: 40px;
      }
    }
    .header__logo {
      .logo-words {
        opacity: 0;
      }
    }
    .header__container {
      border-color: transparent;
    }
    .header__phone {
      color: var(--color-btn-dark);
      &[data-touch], &[data-hover] {
        color: var(--color-btn-dark-hover);
      }
      &[data-focus] {
        color: var(--color-btn-dark-click);
      }
    }
  }

  & > .container {
    position: static;
  }
  &__container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-text-light);
    transition: height $trs3, border-color $trs3;
  }
  &__phone {
    display: inline-block;
    margin: 0 52px 0 0;
    text-decoration: none;
    transition: opacity $trs3, color $trs1;
    color: var(--color-btn-light);
    &[data-touch], &[data-hover] {
      color: var(--color-btn-light-hover);
    }
    &[data-focus] {
      color: var(--color-btn-light-click);
    }
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__logo {
    height: 46px;
    transition: height $trs3;
    color: inherit;
    .logo-words {
      transition: opacity $trs3;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__container {
      height: 90px;
    }
  }
  @include media-breakpoint-down(md) {
    &__phone {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      height: 70px;
    }
    &__logo {
      height: 40px;
    }
  }
}

.logo {
  svg, img {
    display: block;
    height: 100%;
    width: auto;
    color: inherit;
  }
}

.nav-toggle {
  width: 50px;
  height: 50px;
  margin: -7px;
  padding: 14px 7px;
  z-index: 3;
  position: relative;
  &__burger {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    display: flex;
    overflow: hidden;
    &>span {
      width: 100%;
      height: 4px;
      transition: transform 285ms ease-out;
      position: relative;
      &:nth-child(2) {
        transition-delay: 73ms;
      }
      &:nth-child(3) {
        transition-delay: 142ms;
      }
      span {
        display: block;
        width: 100%;
        height: 100%;
        transition: background-color $trs2;
        background-color: var(--color-btn-light);
        position: relative;
        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-color: inherit;
          position: absolute;
          left: 200%;
          top: 0;
        }
      }
    }
  }
  &__close {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    span {
      display: block;
      width: 36px;
      height: 4px;
      transition: transform 250ms ease-out;
      position: absolute;
      top: 50%;
      left: 50%;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--color-btn-light);
        transition: background-color $trs1;
      }
      &:first-child {
        transform: translate(-50%, -50%) rotate(45deg) scaleX(0);
      }
      &:last-child {
        transform: translate(-50%, -50%) rotate(-45deg) scaleX(0);
      }
    }
  }
  &[data-touch], &[data-hover] {
    .nav-toggle {
      &__burger > span {
        transform: translateX(-200%);
      }
      &__close span::before {
        background-color: var(--color-btn-light-hover);
      }
    }
  }
  &.active {
    .nav-toggle {
      &__burger > span {
        transform: translateX(-300%);
      }
      &__close span {
        transition-delay: 250ms;
        &:first-child {
          transform: translate(-50%, -50%) rotate(45deg) scaleX(1);
        }
        &:last-child {
          transform: translate(-50%, -50%) rotate(-45deg) scaleX(1);
        }
      }
    }
  }
}

.theme-toggle-btn {
  position: relative;
  width: 46px;
  height: 22px;
  margin-right: 43px;
  position: relative;
  z-index: 3;
  &::before {
    content: '';
    position: absolute;
    background-color: var(--color-tt-bg);
    width: 32px;
    height: 8px;
    border-radius: 8px;
    left: 7px;
    top: 7px;
    transition: background-color $trs2;
  }
  &::after {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background-color: var(--color-tt-dot);
    top: 0;
    left: var(--pos-tt);
    position: absolute;
    transition: transform $trs1, left $trs2, background-color $trs2;
  }
  &[data-touch], &[data-hover] {
    &::after {
      transform: scale(1.1);
    }
  }
  @include media-breakpoint-down(sm) {
    margin-right: 26px;
  }
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  color: var(--color-text-dark);
  transition: color $trs2;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--color-bg-transparent);
  }
  &__copy {
    position: absolute;
    bottom: 160px;
    left: 470px;
    width: 1rem;
    height: 245px;
    line-height: 1;
    white-space: nowrap;
    &-wrap {
      width: 100%;
      height: 100%;
      position: relative;
    }
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  &__theme {
    line-height: 22px;
    color: inherit;
    white-space: nowrap;
    position: relative;
    margin: 0;
    text-align: left;
    padding-right: 30px;
  }
  &__line {
    position: absolute;
    width: calc(370px - #{$container-padding-x});
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: var(--color-text-dark);
    transition: background-color $trs2;
  }
  &__container {
    background-color: var(--color-bg-light);
    transition: background-color $trs2;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 2;
    box-sizing: content-box;
  }
  &__head {
    background-color: var(--color-bg-light);
    transition: background-color $trs2;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - #{$container-padding-x});
    height: 100px;
    z-index: 3;
    display: flex;
    align-items: center;
    padding-left: 90px;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  &__block {
    width: 376px;
    min-height: 100%;
    padding: 200px 24px 80px 90px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__list {
    margin-bottom: 60px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__link {
    text-decoration: none;
    color: var(--color-btn-accent);
    transition: color $trs1;
    display: block;
    &[data-touch], &[data-hover] {
      color: var(--color-btn-accent-hover);
    }
    &[data-focus] {
      color: var(--color-btn-accent-click);
    }
    &.active {
      color: var(--color-btn-accent-click);
      pointer-events: none;
    }
  }
  &__dev-label {
    margin-top: 60px;
    white-space: nowrap;
    a {
      color: var(--color-btn-dark);
      transition: color $trs1;
      &[data-touch], &[data-hover] {
        color: var(--color-btn-dark-hover);
      }
      &[data-focus] {
        color: var(--color-btn-dark-click);
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    &__head {
      height: 90px;
      padding-left: 60px;
    }
    &__theme {
      padding-right: 20px;
    }
    &__line {
      width: calc(335px - #{$container-padding-x});
    }
    &__block {
      padding: 140px 24px 40px 60px;
      width: 335px;
    }
    &__dev-label {
      margin-top: 50px;
    }
    &__list {
      margin-bottom: 40px;
    }
    &__copy {
      left: auto;
      bottom: 120px;
      right: $container-padding-x;
    }
  }
  @include media-breakpoint-between(xl, xxl) {
    @media (max-height:660px) {
      &__block {
        padding: 130px 24px 35px 60px;
      }
      &__item {
        &:not(:last-child) {
          margin-bottom: 18px;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      width: 100% !important;
    }
    &__head {
      height: 70px;
      width: 100%;
      padding: 0 $mobile-container-padding-x;
    }
    &__block {
      width: 100%;
      padding: 110px $mobile-container-padding-x 40px $mobile-container-padding-x;
    }
    &__theme {
      padding-right: 16px;
    }
    &__line {
      width: calc(100% - #{$mobile-container-padding-x} * 2);
      left: $mobile-container-padding-x;
    }
    &__copy {
      right: $mobile-container-padding-x;
    }
    &__item:not(:last-child) {
      margin-bottom: 15px;
    }
    &__link {
      text-align: center;
    }
    &__socials {
      .socials__list {
        justify-content: center;
      }
    }
    &__dev-label {
      text-align: center;
      margin-top: 40px;
    }
  }
}
