.bg-light, .bg-gray {
  transition: background-color $trs2, color $trs2;
}
.bg-light {
  background-color: var(--color-bg-light);
  color: var(--color-text-dark);
}
.bg-gray {
  background-color: var(--color-bg-gray);
}
.bg-gradient, .bg-gradient-skew {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
  }
}
.bg-gradient {
  &::before {
    background: var(--color-gradient);
  }
}
.bg-gradient-skew {
  &::before {
    background: var(--color-gradient-skew);
  }
}

.color-accent {
  transition: color $trs2;
  color: var(--color-text-accent);
}

.image-size-1, .image-size-2, .image-size-3, .image-size-4, .image-size-5 {
  &::before {
    content: '';
    display: block;
  }
}
.image-size-1 {
  &::before {
    padding-top: 120%;
  }
}
.image-size-2 {
  &::before {
    padding-top: 50%;
  }
  @include media-breakpoint-down(lg) {
    &::before {
      padding-top: 60%;
    }
  }
  @include media-breakpoint-down(sm) {
    &::before {
      padding-top: 70%;
    }
  }
}
.image-size-3 {
  &::before {
    padding-top: 60%;
  }
}
.image-size-4 {
  &::before {
    padding-top: 70%;
  }
}
.image-size-5 {
  &::before {
    padding-top: 120%;
  }
  @include media-breakpoint-down(sm) {
    &::before {
      padding-top: 60%;
    }
  }
}





@include media-breakpoint-down(sm) {
  .image-align-right, .image-align-left, .sm-image-align-left, .sm-image-align-right {
    width: calc(100% + #{$mobile-container-padding-x});
  }
  .image-align-left, .sm-image-align-left {
    transform: translateX(#{-$mobile-container-padding-x});
  }
  .image-stretch {
    width: 100vw;
    transform: translateX(#{-$mobile-container-padding-x});
  }
}
@include media-breakpoint-up(sm) {
  .sm-image-align-left, .sm-image-align-right {
    width: calc(100% + #{$sm-field});
  }
  .sm-image-align-left {
    transform: translateX(#{$sm-field-negative});
  }
}
@include media-breakpoint-up(md) {
  .sm-image-align-left, .sm-image-align-right {
    width: calc(100% + #{$md-field});
  }
  .sm-image-align-left {
    transform: translateX(#{$md-field-negative});
  }
}
@include media-breakpoint-up(lg) {
  .sm-image-align-left, .sm-image-align-right {
    width: calc(100% + #{$lg-field});
  }
  .sm-image-align-left {
    transform: translateX(#{$lg-field-negative});
  }
}
@include media-breakpoint-up(xl) {
  .sm-image-align-left, .sm-image-align-right {
    width: calc(100% + #{$xl-field});
  }
  .sm-image-align-left {
    transform: translateX(#{$xl-field-negative});
  }
}
@include media-breakpoint-up(xxl) {
  .sm-image-align-left, .sm-image-align-right {
    width: calc(100% + #{$xxl-field});
  }
  .sm-image-align-left {
    transform: translateX(#{$xxl-field-negative});
  }
}