.modal {
  position: fixed;
  z-index: 200;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: var(--color-bg-transparent);
  &__wrapper {
    position: relative;
    z-index: 1;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: $container-padding-x;
    display: flex;
    cursor: pointer;
  }
  &-close {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 2;
    cursor: pointer;
    box-sizing: content-box;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 10px;
      height: 2px;
      width: 20px;
      background-color: var(--color-btn-light);
      transition: background-color $trs1;
    }
    &:before {
      transform: translateY(-50%) rotate(-45deg);
    }
    &:after {
      transform: translateY(-50%) rotate(45deg);
    }
    &[data-touch], &[data-hover] {
      &:before, &:after {
        background-color: var(--color-btn-light-hover);
      }
    }
    &[data-focus] {
      &:before, &:after {
        background-color: var(--color-btn-light-click);
      }
    }
    &_dark {
      &:before, &:after {
        background-color: var(--color-btn-dark);
      }
      &[data-touch], &[data-hover] {
        &:before, &:after {
          background-color: var(--color-btn-dark-hover);
        }
      }
      &[data-focus] {
        &:before, &:after {
          background-color: var(--color-btn-dark-click);
        }
      }
    }
  }
  &__close {
    top: 20px;
    right: 20px;
  }
  &__container {
    justify-content: center;
  }
  &-block {
    position: relative;
    margin: auto;
    z-index: 2;
    background-color: var(--color-bg-accent);
    padding: 90px 0;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    cursor: default;
    &__close {
      top: 5px;
      right: 5px;
    }
  }
  &__title {
    text-align: center;
    margin: 0 0 40px 0;
  }
  @include media-breakpoint-up(sm) {
    &-block {
      max-width: map-get($container-max-widths, sm) - ($container-padding-x*2);
    }
  }
  @include media-breakpoint-up(md) {
    &-block {
      max-width: map-get($container-max-widths, md) - ($container-padding-x*2);
    }
  }
  @include media-breakpoint-up(lg) {
    &-block {
      max-width: 684px;
    }
  }
  @include media-breakpoint-down(xxl) {
    &-block {
      padding: 65px 0;
    }
  }
  @include media-breakpoint-down(sm) {
    &__wrapper {
      padding: $mobile-container-padding-x;
    }
    &-block {
      padding: 60px 0;
    }
  }
}


.modal-succes {
  text-align: center;
  &__icon {
    position: absolute;
    width: 260px;
    height: 260px;
    top: 80px;
    left: 140px;
    color: var(--color-iconm-bg);
  }
  &__container {
    position: relative;
    padding-top: 40px;
  }
  &__title {
    margin-bottom: 90px;
  }
  @include media-breakpoint-down(xxl) {
    &__container {
      padding-top: 20px;
    }
    &__icon {
      width: 230px;
      height: 230px;
      top: 55px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__container {
      padding: 65px 0 30px 0;
    }
    &__icon {
      width: 260px;
      height: 260px;
      top: 84px;
      left: 142px;
    }
  }
  @include media-breakpoint-down(md) {
    &__icon {
      left: 100px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      padding: 40px 0 0 0;
    }
    &__icon {
      left: 60px;
      width: 180px;
      height: 180px;
      top: 65px;
    }
    &__title {
      margin-bottom: 78px;
    }
  }
}

.modal-form {
  text-align: center;
}
