.video-slider {
  position: relative;
  &__background {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__video {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity $trs5;
    pointer-events: none;
    &.loaded {
      opacity: 1;
    }
    &_reversed {
      z-index: 2;
    }
    &_normal {
      z-index: 3;
    }
  }
  &__content {
    position: relative;
    z-index: 2;
    .container {
      position: relative;
      height: 100%;
    }
  }
  &__items {
    height: 100%;
    align-items: flex-end;
    align-content: flex-end;
  }
  &__titles {
    position: relative;
    transition: opacity $trs5, visibility $trs5;
  }
  &__text {
    position: relative;
    transform: translateY(4px);
    transition: opacity $trs5, visibility $trs5;
  }
  &__text-item {
    position: absolute;
    bottom: 0;
    margin: 0 !important;
    opacity: 0;
    visibility: hidden;
    max-width: calc(100% - #{$grid-gutter-width});
  }
  &__title {
    position: absolute;
    bottom: 0;
    margin: 0 !important;
    opacity: 0;
    visibility: hidden;
    width: calc(100% - #{$grid-gutter-width});
  }
  &__nav {
    position: absolute;
    right: $container-padding-x;
    bottom: 100px;
    display: flex;
    transition: opacity $trs5, visibility $trs5;
  }
  &__control-round {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: var(--color-btn-accent);
    transform: translateX(100%);
    transition: background-color $trs2, transform $trs2;
    z-index: 1;
  }
  &__control {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    position: relative;
    z-index: 2;
    transition: opacity $trs2, color $trs2;
    .icon {
      margin: auto;
      width: 16px;
      height: 16px;
    }
    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
    &[data-touch], &[data-hover] {
      & ~ .video-slider__control-round {
        background-color: var(--color-btn-accent-hover);
      }
    }
  }
  &__next {
    color: var(--color-arrow-hover);
    .icon {
      transform: translateX(1px);
    }
    &[data-focus] {
      & ~ .video-slider__control-round {
        transform: translateX(100%) scale(0.9);
      }
    }
  }
  &__prev {
    .icon {
      transform: rotate(-180deg) translateX(1px);
    }
    &[data-touch], &[data-hover], &.last {
      color: var(--color-arrow-hover);
      & ~ .video-slider__control-round {
        transform: translateX(0);
      }
      & ~ .video-slider__next {
        color: inherit;
      }
    }
    &[data-focus] {
      & ~ .video-slider__control-round {
        transform: translateX(0) scale(0.9);
      }
    }
  }
  &__timeline {
    font-size: 1rem;
    &-line {
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: var(--color-muted);
    }
    &-item {
      height: 100%;
      background-color: var(--color-light);
      position: relative;
      border-radius: inherit;
      span {
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 30px;
        font-weight: 700;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    &.disabled {
      .video-slider__content {
        background-color: transparent;
      }
      .video-slider__titles, .video-slider__text, .video-slider__label, .video-slider__nav {
        opacity: 0;
        visibility: hidden;
      }
    }
    &__content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: inherit;
      z-index: 4;
      background-color: rgba(98, 108, 128, 0.5);
      transition: background-color $trs5;
    }
    &__titles {
      position: absolute;
      top: 0;
    }
  }
  @include media-breakpoint-up(xl) {
    &__titles {
      margin: 0;
    }
  }
  @include media-breakpoint-up(xxl) {
    min-height: 800px;
    max-height: 1000px;
  }

  @include media-breakpoint-down(lg) {
    padding: 0 !important;
    background: #84909D;
    &__background {
      position: relative;
      height: auto;
      &::before {
        content: '';
        display: block;
        padding-top: 65%;
      }
    }
    &__label {
      align-self: start;
      margin: 0;
    }
    &__nav {
      bottom: initial;
    }
    &__items {
      height: 100%;
      align-content: space-between;
    }
    &__titles {
      margin-bottom: 30px;
    }
    &__text {
      align-self: start;
      transform: translate(0);
    }
    &__text-item {
      bottom: auto;
      top: 0;
    }
    &__content {
      padding: 40px 0 80px 0;
      position: relative;
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 64px;
        bottom: 100%;
        left: 0;
        background: linear-gradient(180deg, rgba(132, 144, 157, 0) 0%, #84909D 100%);
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__control {
      width: 48px;
      height: 48px;
      .icon {
        width: 14px;
        height: 14px;
      }
    }
    &__control-round {
      width: 48px;
      height: 48px;
    }
    &__label {
      margin-bottom: 30px;
    }
    &__timeline {
      padding-top: 30px;
      margin-bottom: 30px;
      &-item span {
        bottom: 14px;
      }
    }
    &__text {
      margin: 0;
    }
    &__titles {
      margin-bottom: 20px;
    }
    &__title {
      padding-right: 120px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__content {
      padding: 40px 0 60px 0;
      &::before {
        height: 38px;
      }
    }
    &__nav {
      right: $mobile-container-padding-x;
      top: 0;
    }
    &__title {
      width: calc(100% - #{$mobile-grid-gutter-width});
    }
  }
}