.video-slider {
  position: relative;
  &__background {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__video {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity $trs5;
    pointer-events: none;
    &.loaded {
      opacity: 1;
    }
  }
  &__content {
    .container {
      position: relative;
      height: 100%;
    }
  }
  &__nav {
    position: absolute;
    right: $container-padding-x;
    bottom: 100px;
    display: flex;
  }
  &__control {
    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
  &__prev {
    margin-right: 20px;
  }
  &__timeline {
    position: absolute;
    bottom: 0;
    right: 0;
    &-line {
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: var(--color-muted);
    }
    &-item {
      height: 100%;
      background-color: var(--color-light);
      position: relative;
      span {
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 30px;
        font-weight: 700;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    height: 100vh;
    &__content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: inherit;
      z-index: 2;
      background-color: var(--color-bg-overlay);
      transition: background-color $trs5;
      &.disabled {
        background-color: transparent;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    min-height: 600px;
    max-height: 800px;
  }
  @include media-breakpoint-up(xxl) {
    min-height: 800px;
    max-height: 1000px;
  }
  @include media-breakpoint-down(lg) {
    padding: 0 !important;
    &__background {
      position: relative;
      height: auto;
      &::before {
        content: '';
        display: block;
        padding-top: 56.25%;
      }
    }
    &__content {
      background-color: var(--color-bg-gray);
      transition: background-color $trs2;
      padding: 80px 0;
    }
  }
}