:root {
  --color-accent:       #E61515;
  --color-accent-hover: #cf1313;
  --color-accent-focus: #a71414;

  --color-text:     #000;
  --color-light:    #fff;
  --color-grayish:  #DBDBDB;
  --color-muted:    #8c8c8c;

  --color-background: #434BC3;
  --color-preloader: #fff;
  
}