:root {
  //btns
  --color-btn-accent: #fff;

  //toggle theme
  --color-tt-dot: #fff;
  --color-tt-bg: #434BC3;
  --pos-tt: 24px;
  --state-tt-l: 0;
  --state-tt-d: 1;

  //text
  --color-text-light: #fff;
  --color-text-dark: #fff;

  //bg
  --color-bg-accent: #575757;
  --color-bg-light: #393939;
  --color-bg-gradient: linear-gradient(96.13deg, #484848 0.21%, #575757 52.13%, #484848 98.52%);;
  --color-bg-images: #949494;
  --color-bg-nav: rgba(0, 0, 0, 0.3);

  //header
  --color-header: #fff;
  --color-header2: #fff;
  --color-header3: #fff;
  --color-fixed-header-bg: #393939;
  

  //preloader
  --color-preloader: #fff;
  
}