:root {
  //btns
  --color-btn-accent: #252EB6;

  //toggle theme
  --color-tt-dot: #fff;
  --color-tt-bg: #C4C4C4;
  --pos-tt: 0;

  //text
  --color-text-light: #fff;
  --color-text-dark: #393939;

  //bg
  --color-bg-accent: #434BC3;
  --color-bg-light: #F2F3F7;
  --color-bg-gradient: linear-gradient(96.13deg, #474FC5 0.21%, #5C66CE 52.13%, #474FC5 98.52%);
  --color-bg-images: #99A2B5;
  --color-bg-nav: rgba(0, 0, 0, 0.3);

  //header
  --color-header: #fff;
  --color-header2: #575757;
  --color-header3: #393939;
  --color-fixed-header-bg: #F2F3F7;
  --color-navb-1: #252EB6;
  --color-navb-2: #575757;
  --color-navb-3: #393939;

  //preloader
  --color-preloader: #fff;
  
}