extends layout/layout
block variables
  -var title = sitename+' - Аренда'
  -var n2 = true
  -var prev = proizvodstvo;
  -var prev_name = 'Производство';
  -var next = remont;
  -var next_name = 'Ремонт'
block content
  include blocks/blocks

  section.home-screen(data-mobile-window)
    .home-screen__background
      .image.image_cover.rellax(data-rellax-speed="-3")
        img(src="./img/arenda/IMG_3015.jpg", alt="image").lazyload
    .home-screen__container
      //NAV START
      if next || prev
        .pager-navigation.container.home-screen__navigation
          if prev
            a(href=prev).button-text
              svg.icon
                use(xlink:href='./img/icons/icons.svg#arrow')
              span=prev_name
          if next
            a(href=next).button-text.pager-navigation__next
              span=next_name
              svg.icon
                use(xlink:href='./img/icons/icons.svg#arrow')
      //NAV END
      .container.home-screen__content
        .row
          h1.home-screen__title.home-screen__item.col-xxl-6.col-xl-7.col-lg-8 Предоставляем в аренду оборудование для врезки и перекрытия трубопроводов под давлением
        
    button.scroll-btn.home-screen__scroll(aria-label='scroll bottom' data-scroll='bottom')
      svg.icon
        use(xlink:href='./img/icons/icons.svg#arrow')

  section.arenda-info.bg-accent.bg-gradient
    .container.js-animate-fade
      h3.arenda-info__title В пользовании общества находится более
        span 200
        | единиц оборудования
      h6.arenda-info__text предназначенного для выполнения работ по врезке и перекрытию трубопроводов под давлением, диметром от Ду 50 до Ду 1420

  section.content-section.bg-gray.bg-gradient-skew
    .container
      +block1(
        'js-animate-top',
        '01', 
        'Аренда по всей стране', 
        '<p>Все оборудование на сегодняшний день активно используется арендаторами по всей территории Российские Федерации.</p>',
        './img/arenda/shutterstock_561984895.jpg',
        false
      )
      +block4(
        'js-animate-top',
        '02', 
        'Оборудование проходит регулярное техническое обслуживание согласно нормативам завода изготовителя', 
        '<p>После каждого использования весь комплект оборудования проходит плановый технический осмотр и при необходимости ремонт, согласно нормативам завода-изготовителя.</p>',
        './img/arenda/InterventionAndIsolation-TappingMachines_700x430.jpg',
        false
      )
      
  include blocks/form-section