extends layout/layout
block variables
  -var title = sitename+' - Аренда'
  -var n2 = true;
block content
  section.section.home-screen(data-mobile-window)

    .home-screen__background
      .image.image_cover
        img(src="./img/kdkkd.jpeg", alt="image").lazyload

    .home-screen__container
      .container.home-screen__nav
        a(href=proizvodstvo).button-text.home-screen__prev
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
          span Производство
        a(href=servis).button-text.home-screen__next
          span Сервис
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
      .container.home-screen__content
        .row
          h1.home-screen__title.col-xxl-6.col-xl-7.col-lg-8 Предоставляем в аренду имеющееся оборудование
          p.h6.home-screen__text.col-xl-3.col-lg-4.col-md-5 В рамках программы научно-исследовательских и опытно-конструкторских работ (НИОКР)

  include blocks/form-section