extends layout/layout
block variables
  -var title = sitename+' - Components'
block content
  section.section
    .container
      h1 H1 Components, typography
      p Lorem ipsum dolor sit, amet 
        a(href="./components.html") consectetur adipisicing
        |  elit. Suscipit eaque illo at impedit corrupti fuga in officiis id nam, ipsum, nesciunt voluptates tempora facilis repellendus consequuntur, quam sequi quas. Tenetur?
      h2 H2 Title
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, esse quisquam! Qui, quasi rem. Quia reiciendis, iste ut corrupti consequatur, veniam animi adipisci tempore vitae odio laborum ipsum! Mollitia, totam!
      h3 H3 Title
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consequatur error sunt quos at ad provident nulla et dicta fugiat? Iusto molestiae excepturi nam dolores a distinctio minima sint eaque?
      h4 H4 Title
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit eum vitae, harum ipsum excepturi laborum molestias ut placeat alias optio incidunt amet maxime atque architecto assumenda temporibus, tempore, rerum consequatur.
      h5 H5 Title
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit delectus, facere possimus neque, dicta pariatur modi, rerum molestias ut maiores omnis numquam dolorum quae eveniet! Cupiditate repudiandae suscipit dolore tempora.
      h6 H6 Title
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur explicabo molestiae, quaerat non nemo commodi rem voluptatem labore dolorum voluptas, corporis quia, pariatur modi facilis quod vero quos dolor doloremque.
      h2 Standart image
      figure
        img(src="https://placehold.co/600x400", alt="image")
        figcaption Image placeholder
      h2 Numbered list
      ol
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      h2 Bulleted list
      ul
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      h2 Standart table
      .table
        table
          tr
            th Lorem
            th ipsum
            th dolor
            th sit
          tr
            td Lorem
            td ipsum
            td dolor
            td sit
          tr
            td Lorem
            td ipsum
            td dolor
            td sit
          tr
            td Lorem
            td ipsum
            td dolor
            td sit
          tr
            td Lorem
            td ipsum
            td dolor
            td sit
          tr
            td Lorem
            td ipsum
            td dolor
            td sit
      h2 Buttons
      .row
        .col-auto
          button.button.button_style-1(aria-label="button") Button