extends layout/layout
block variables
  -var title = sitename+' - Компоненты'
block content

  section.section.content-section.bg-gray.bg-gradient-skew
    .container
      .row
      
        //block1
        .content-block
          .content-block__container.row
            .content-block__image.offset-md-1.offset-lg-0.col-11.col-sm-10.col-md-8.col-lg-6.col-xl-5
              .image.image_cover.image-size-1.image-align-left
                img(data-src="https://placehold.co/1000x1200/fff/393939?font=montserrat&text=Картинка", alt="image").lazyload
            .content-block__container.offset-md-1.offset-lg-1.col-sm-10.col-md-8.col-lg-5
              .row
                .content-block__head
                  span.content-block__index 01
                  h5 Lorem ipsum dolor sit
                .content-block__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.
        
        //block2
        .content-block
          .content-block__container.row
            .content-block__image.order-lg-2.offset-2.offset-sm-3.offset-md-5.offset-lg-1.col-10.col-sm-9.col-md-7.col-lg-5.col-xl-6
              .image.image_cover.image-size-2.sm-image-align-right
                img(data-src="https://placehold.co/1000x600/fff/393939?font=montserrat&text=Картинка", alt="image").lazyload
            .content-block__container.order-lg-1.offset-sm-3.offset-md-5.offset-lg-0.col-sm-9.col-md-7.col-lg-6.col-xl-5
              .row
                .content-block__head
                  span.content-block__index 02
                  h5 Lorem ipsum dolor sit 
                .content-block__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.

        //block3
        .content-block
          .content-block__container.row
            .content-block__image.col-sm-9.col-md-7.col-lg-5.col-xl-5
              .image.image_cover.image-size-3.image-stretch.sm-image-align-left
                img(data-src="https://placehold.co/1000x600/fff/393939?font=montserrat&text=Картинка", alt="image").lazyload
            .content-block__container.offset-lg-1.col-sm-9.col-md-7.col-lg-6.col-xl-5
              .row
                .content-block__head
                  span.content-block__index 03
                  h5 Lorem ipsum dolor sit
                .content-block__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.

        //block4
        .content-block
          .content-block__container.row
            .content-block__image.order-lg-2.offset-1.offset-sm-2.offset-md-3.offset-lg-1.col-11.col-sm-10.col-md-8.col-lg-6
              .image.image_cover.image-size-4.image-align-right
                img(data-src="https://placehold.co/1000x700/fff/393939?font=montserrat&text=Картинка", alt="image").lazyload
            .content-block__container.order-lg-1.offset-sm-2.offset-md-3.offset-lg-0.col-sm-10.col-md-8.col-lg-5
              .row
                .content-block__head
                  span.content-block__index 04
                  h5 Lorem ipsum dolor sit 
                .content-block__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.

        //block5
        .content-block
          .content-block__container.row
            .vertical-text.vertical-text_left
              .vertical-text__container Lorem ipsum dolor sit amet consectetur

            .content-block__image.offset-md-1.col-11.col-sm-10.col-md-8.col-lg-5.col-xl-4
              .image.image_cover.image-size-1.image-align-left
                img(data-src="https://placehold.co/1000x1200/fff/393939?font=montserrat&text=Картинка", alt="image").lazyload
            .content-block__container.offset-md-1.offset-lg-1.col-sm-10.col-md-8.col-lg-5.col-xl-5
              .row
                .content-block__head
                  span.content-block__index 05
                  h5 Lorem ipsum dolor sit
                .content-block__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.

        //block6
        .content-block
          .content-block__container.row
            .vertical-text.vertical-text_right
              .vertical-text__container Lorem ipsum dolor sit amet consectetur
            .content-block__image.order-lg-2.offset-1.offset-sm-2.offset-md-3.offset-lg-1.col-11.col-sm-10.col-md-8.col-lg-5
              .image.image_cover.image-size-4.image-align-right
                img(data-src="https://placehold.co/1000x700/fff/393939?font=montserrat&text=Картинка", alt="image").lazyload
            .content-block__container.order-lg-1.offset-sm-2.offset-md-3.offset-lg-0.col-sm-10.col-md-8.col-lg-5
              .row
                .content-block__head
                  span.content-block__index 06
                  h5 Lorem ipsum dolor sit 
                .content-block__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.
  
        //block7
        .content-block
          .content-block__container.row
            .content-block__image.offset-md-1.offset-lg-0.col-11.col-sm-10.col-md-8.col-lg-6
              .image.image_cover.image-size-4.image-align-left
                img(data-src="https://placehold.co/1000x700/fff/393939?font=montserrat&text=Картинка", alt="image").lazyload
            .content-block__container.offset-md-1.offset-lg-1.col-sm-10.col-md-8.col-lg-5
              .row
                .content-block__head
                  span.content-block__index 07
                  h5 Lorem ipsum dolor sit
                .content-block__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.

        //block8
        .content-block
          .content-block__container.row
            .content-block__image.order-lg-2.offset-1.offset-sm-2.offset-md-5.offset-lg-1.col-11.col-sm-10.col-md-6.col-lg-6.col-xl-5
              .image.image_cover.image-size-1.image-align-right
                img(data-src="https://placehold.co/1000x1200/fff/393939?font=montserrat&text=Картинка", alt="image").lazyload
            .content-block__container.order-lg-1.offset-sm-2.offset-md-5.offset-lg-0.col-sm-10.col-md-6.col-lg-5.offset-xl-1
              .row
                .content-block__head
                  span.content-block__index 08
                  h5 Lorem ipsum dolor sit 
                .content-block__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.         