extends layout/layout
block variables
  -var title = sitename+' - Компоненты'
block content
  include blocks/blocks

  section.section.content-section.bg-gray.bg-gradient-skew
    .container
      +block1(
        '',
        '01', 
        'Lorem ipsum dolor sit', 
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.',
        'https://placehold.co/1000x1000/fff/393939?font=montserrat&text=Картинка',
        true 
      )
      +block2(
        '',
        '02', 
        'Lorem ipsum dolor sit', 
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.',
        'https://placehold.co/1000x1000/fff/393939?font=montserrat&text=Картинка',
        true 
      )
      +block3(
        '',
        '03', 
        'Lorem ipsum dolor sit', 
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.',
        'https://placehold.co/1000x1000/fff/393939?font=montserrat&text=Картинка',
        true 
      )
      +block4(
        '',
        '04', 
        'Lorem ipsum dolor sit', 
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.',
        'https://placehold.co/1000x1000/fff/393939?font=montserrat&text=Картинка',
        true 
      )
      +block5(
        '',
        '05', 
        'Lorem ipsum dolor sit', 
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.',
        'https://placehold.co/1000x1000/fff/393939?font=montserrat&text=Картинка',
        true,
        'Lorem ipsum dolor sit amet consectetur'
      )
      +block6(
        '',
        '06', 
        'Lorem ipsum dolor sit', 
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.',
        'https://placehold.co/1000x1000/fff/393939?font=montserrat&text=Картинка',
        true,
        'Lorem ipsum dolor sit amet consectetur'
      )
      +block7(
        '',
        '07', 
        'Lorem ipsum dolor sit', 
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.',
        'https://placehold.co/1000x1000/fff/393939?font=montserrat&text=Картинка',
        true
      )
      +block8(
        '',
        '08', 
        'Lorem ipsum dolor sit', 
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.',
        'https://placehold.co/1000x1000/fff/393939?font=montserrat&text=Картинка',
        true
      )
      