extends layout/layout
block variables
  -var title = sitename+' - Обучение'
  -var n5 = true;
block content
  section.section.home-screen(data-mobile-window)

    .home-screen__background
      .image.image_cover
        img(src="./img/lslslsl.jpg", alt="image").lazyload

    .home-screen__container
      .container.home-screen__nav
        a(href=remont).button-text.home-screen__prev
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
          span Ремонт
        a(href=engineering).button-text.home-screen__next
          span Проектирование
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
      .container.home-screen__content
        .row
          h1.home-screen__title.col-lg-11 В рамках импортозамещения и стандартизации иностранной технологии Т.D.Williamson в правовом 
          p.h6.home-screen__text.col-xxl-3.col-lg-4.col-md-7.col-sm-8 «Технико-экономическая стандартизация иностранных инновационных технологий. Импортозамещение технологии врезок под давлением»
      
  include blocks/form-section