extends layout/layout
block variables
  -var title = sitename+' - Проектирование'
  -var n7 = true;
block content
  section.section.home-screen(data-mobile-window)

    .home-screen__background
      .image.image_cover
        img(src="./img/dddd.jpg", alt="image").lazyload

    .home-screen__container
      .container.home-screen__nav
        a(href=education).button-text.home-screen__prev
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
          span Обучение
      .container.home-screen__content
        .row
          h1.home-screen__title.col-lg-8 Осуществлям деятельность по импорто&shy;замещению технологий и предоставлению профильных улуг 
          p.h6.home-screen__text.col-xxl-3.col-lg-4.col-md-7.col-sm-8 В рамках программы научно-исследовательских и опытно-конструкторских работ (НИОКР)
  
  section.section.content-section.bg-gray.bg-gradient-skew
    .container
    
      //block4
      .content-block
        .content-block__container.row
          .content-block__image.order-lg-2.offset-1.offset-sm-2.offset-md-3.offset-lg-1.col-11.col-sm-10.col-md-8.col-lg-6
            .image.image_cover.image-size-4.image-align-right
              img(data-src="https://placehold.co/1000x700/fff/393939?font=montserrat&text=Картинка", alt="image").lazyload
          .content-block__container.order-lg-1.offset-sm-2.offset-md-3.offset-lg-0.col-sm-10.col-md-8.col-lg-5
            .row
              .content-block__head
                span.content-block__index 01
                h5 Технологии врезок под давлением
              .content-block__content
                p Импортозамещение технологии врезок под давлением и перекрытия полости магистральных и распределительных трубопроводов давлением до 10 МПа без отключения потребителей.
                a(href='#modal-form' data-modal='open').button-text
                  span Подробнее
                  svg.icon
                    use(xlink:href='./img/icons/icons.svg#arrow')
      //block5
      .content-block
        .content-block__container.row
          .vertical-text.vertical-text_left
            .vertical-text__container Объединенных в Отдел главного механика

          .content-block__image.offset-md-1.col-11.col-sm-10.col-md-8.col-lg-5.col-xl-4
            .image.image_cover.image-size-1.image-align-left
              img(data-src="https://placehold.co/1000x1200/fff/393939?font=montserrat&text=Картинка", alt="image").lazyload
          .content-block__container.offset-md-1.offset-lg-1.col-sm-10.col-md-8.col-lg-5.col-xl-5
            .row
              .content-block__head
                span.content-block__index 02
                h5 Производства фитингов и тройников 
              .content-block__content
                p Открытие производства фитингов и тройников для выполнения работ по   врезке под давлением и перекрытия полости магистральных и распределительных трубопроводов давлением до 10 МПа без отключения потребителей.
                a(href='#modal-form' data-modal='open').button-text
                  span Подробнее
                  svg.icon
                    use(xlink:href='./img/icons/icons.svg#arrow')



  section.section.content-section.bg-gray.bg-gradient-skew
    .container

      //block7
      .content-block
        .content-block__container.row
          .content-block__image.offset-md-1.offset-lg-0.col-11.col-sm-10.col-md-8.col-lg-6
            .image.image_cover.image-size-4.image-align-left
              img(data-src="https://placehold.co/1000x700/fff/393939?font=montserrat&text=Картинка", alt="image").lazyload
          .content-block__container.offset-md-1.offset-lg-1.col-sm-10.col-md-8.col-lg-5
            .row
              .content-block__head
                span.content-block__index 04
                h5 Технологии берегоукрепления
              .content-block__content
                p Развитие технологии берегоукрепления от разрушения с креплением микроцементными составами и шпунтом их композитных материалов.
                a(href='#modal-form' data-modal='open').button-text
                  span Подробнее
                  svg.icon
                    use(xlink:href='./img/icons/icons.svg#arrow')

      //block2
      .content-block
        .content-block__container.row
          .content-block__image.order-lg-2.offset-2.offset-sm-3.offset-md-5.offset-lg-1.col-10.col-sm-9.col-md-7.col-lg-5.col-xl-6
            .image.image_cover.image-size-2.sm-image-align-right
              img(data-src="https://placehold.co/1000x600/fff/393939?font=montserrat&text=Картинка", alt="image").lazyload
          .content-block__container.order-lg-1.offset-sm-3.offset-md-5.offset-lg-0.col-sm-9.col-md-7.col-lg-6.col-xl-5
            .row
              .content-block__head
                span.content-block__index 05
                h5 Производство волногасящих элементов 
              .content-block__content
                p Открытие производства волногасящих элементов шарнирного типа из стеклобазальтопластиковых труб с креплением фланцевыми соединениями через полнообхватные фитинги.
                a(href='#modal-form' data-modal='open').button-text
                  span Подробнее
                  svg.icon
                    use(xlink:href='./img/icons/icons.svg#arrow')

  include blocks/form-section