extends layout/layout
block variables
  -var title = sitename+' - Grid'
block content
  link(rel="stylesheet" href="./styles/grid-preview.css")
  .grid 
    .grid__background
      .container.grid__container
        .row.grid__row
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
    