extends layout/layout
block variables
  -var title = sitename+' - Главная'
  -var contacts_label = true
block content
  section.home-screen.home
    .home__content(data-mobile-window)
      .home-screen__background.home__background
        .image.image_cover.rellax(data-rellax-speed="-3")
          img(src="./img/home.jpg", alt="image").lazyload
      .container.home-screen__content
        h1.home__title.home-screen__item Технология безостановочного<br> подключения и ремонт<br> трубопроводов
        p.h6.home__text.home-screen__item Первые в перекрытии трубопроводов под давлением в России
    .home__info
      .container
        .row  
          .home-more.col-lg-3.offset-xxl-1.order-sm-4
            .home-more__content
              p Предлагаем связаться с нами и присоединиться к десяткам наших клиентов
              a(href='#modal-form' data-modal='open').button-text.button-text_accent
                span Оставить заявку
                svg.icon
                  use(xlink:href='./img/icons/icons.svg#arrow')
          .home-item.col-xxl-2.col-lg-3.col-sm-4
            .home-item__head
              span.home-item__index.h2 30 <br>
              span.h6 единиц техники
            p По всей странне расположены наши уникальные разработки
          .home-item.col-xxl-2.offset-xxl-1.col-lg-3.col-sm-4
            .home-item__head
              span.home-item__index.h2 №1 <br>
              span.h6 В России
            p Имеем самый большой штат сотрудников в области врезки под давлением
          .home-item.col-xxl-2.offset-xxl-1.col-lg-3.col-sm-4
            .home-item__head
              span.home-item__index.h2 15 <br>
              span.h6 лет на рынке
            p Колоссальный опыт накопленный нашей компанией 

  include blocks/video

  section.section.about.bg-light
    .container.about__container
      .row
        .about__head.col-xl-3.col-md-4
          .row
            .offset-1.offset-md-0.col-4.col-md-12
              .about__photo.image.image_cover
                img(data-src="./img/photo.jpg", alt="photo").lazyload
            .about__info.col-7.col-md-12
              h6.about__title Бердыев<br> Денис Амангельдыевич
              p.about__descr Генеральный директор
        .offset-1.offset-md-0.offset-lg-1.col-xxl-6.col-lg-7.col-md-8.col-10.about__wrapper
          .about__content
            svg.icon
              use(xlink:href='./img/icons/icons.svg#quotes')
            svg.icon-logo.rellax(data-rellax-speed="-1.5" data-rellax-percentage="0.5")
              use(xlink:href='./img/icons/icons.svg#logo')
            .about__text
              p Мы вышли на новый уровень производства, когда Заказчик сам принимает непосредственное участие в создании продукции. Разработка новой концепции продукции и услуг является ответом на требования наших потребителей получить комплексное решение проблем, возникающих при эксплуатации трубопроводов.
              p Наша задача - содействовать максимизации прибыли наших заказчиков. В основе предлагаемых ООО НК «Евразия» решений лежит принцип обеспечения непрерывности работы трубопровода («работа под давлением») независимо от вида выполняемых операций: ремонт дефекта, замена участка или комплексный проект, включающий несколько видов работ.
              p Главная задача ООО НК «Евразия» – обеспечить высокое качество продукции и услуг и сохранить доверие своих потребителей. На это направлены все усилия нашей команды: от работников завода и конструкторов до техников, выполняющих врезку в трубопроводы под давлением.
            svg.icon
              use(xlink:href='./img/icons/icons.svg#quotes')
      svg.about__signature
        use(xlink:href='./img/icons/icons.svg#signature')   

  include blocks/work-slider
  include blocks/form-section
  include blocks/contacts


  