extends layout/layout
block variables
  -var title = sitename+' - Главная'
  -var contacts_label = true
block content
  section.section.home-screen.home
    .home__content(data-mobile-window)
      .home-screen__background
        .image.image_cover.rellax(data-rellax-speed="-3")
          img(src="./img/home.jpg", alt="image").lazyload
      .container.home-screen__content
        h1.home__title Технология безостановочного<br> подключения и ремонт<br> трубопроводов
        p.h6.home__text Единственный преемник корпорации T.D. Williamson в России
    .home__info
      .container
        .row  
          .home-more.col-lg-3.offset-xxl-1.order-sm-4
            .home-more__content
              p Единственный преемник корпорации T.D. Williamson в России
              a(href='#modal-form' data-modal='open').button-text.button-text_accent
                span Оставить заявку
                svg.icon
                  use(xlink:href='./img/icons/icons.svg#arrow')
          .home-item.col-xxl-2.col-lg-3.col-sm-4
            .home-item__head
              span.home-item__index.h2 30 <br>
              span.h6 единиц техники
            p Единственный преемник корпорации T.D. Williamson в России
          .home-item.col-xxl-2.offset-xxl-1.col-lg-3.col-sm-4
            .home-item__head
              span.home-item__index.h2 №1 <br>
              span.h6 В России
            p Единственный преемник корпорации T.D. Williamson в России
          .home-item.col-xxl-2.offset-xxl-1.col-lg-3.col-sm-4
            .home-item__head
              span.home-item__index.h2 15 <br>
              span.h6 лет на рынке
            p Единственный преемник корпорации T.D. Williamson в России


  include blocks/video

  section.section.about.bg-light
    .container
      .row
        .about__head.col-xl-3.col-md-4
          .row
            .offset-1.offset-md-0.col-4.col-md-12
              .about__photo.image.image_cover
                img(data-src="./img/photo.jpeg", alt="photo").lazyload
            .about__info.col-7.col-md-12
              h6.about__title Парфенов<br> Егор Юрьевич
              p.about__descr Генеральный директор Национальной компании Евразия
        .offset-1.offset-md-0.offset-lg-1.col-xxl-6.col-lg-7.col-md-8.col-10
          .about__content
            svg.icon
              use(xlink:href='./img/icons/icons.svg#quotes')
            svg.icon-logo
              use(xlink:href='./img/icons/icons.svg#logo')
            .about__text
              p Картина «Московский дворик» была представлена на московской части 6-й выставки Товарищества передвижных художественных выставок («передвижников»), открывшейся в мае 1878 года.<br> Она стала первым произведением Поленова, представленным на передвижных выставках. Прямо с выставки полотно было приобретено у автора Павлом Третьяковым.
            svg.icon
              use(xlink:href='./img/icons/icons.svg#quotes')

  include blocks/work-slider
  
  include blocks/form-section
  include blocks/contacts


  