extends layout/layout
block variables
  -var title = sitename+' - Производство'
  -var n1 = true;
block content
  section.section.home-screen(data-mobile-window)

    .home-screen__background
      .image.image_cover.rellax(data-rellax-speed="-3")
        img(data-src="./img/photo-1539186607619-df476afe6ff1 1.jpg", alt="image").lazyload

    .home-screen__container
      .container.home-screen__nav
        a(href=arenda).button-text.home-screen__next
          span Аренда
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
      .container.home-screen__content
        .row
          h1.home-screen__title.col-xxl-8.col-xl-9 Производстводим продукцию для врезки под давлением и перекрытия полости магистральных и распределительных трубопроводов
          p.h6.home-screen__text.col-xl-3.col-lg-4.col-md-5 В рамках существующей программы импортозамещения 

  //section.section.bg-accent.bg-gradient.v-section
    .v-section__content(data-hide-header)
      button.scroll-btn.v-section__btn(aria-label='scroll bottom' data-scroll='self')
        svg.icon
          use(xlink:href='./img/icons/icons.svg#arrow')
      .v-section__inner.container
        .v-section__container
          h2.h1 Комплектующие изделия и режущий инструмент<br> для оборудования T.D.Williamson

  section.section.content-section.bg-gray.bg-gradient-skew
    .container
      .row
      
        //block1
        .content-block
          .content-block__container.row
            .content-block__image.col-11
              .image.image_cover.image-size-1.image-align-left
                img(data-src="https://placehold.co/600/fff/393939?font=montserrat&text=Картинка", alt="image").lazyload
            .content-block__container
              .row
                .content-block__head
                  span.content-block__index 01
                  h5 В настоящее время идет оснащение собственного производства
                .content-block__content
                  p Освоена технология изготовления разрезных тройников для врезки и перекрытия под давлением Ду100-Ду700

        //block2
        .content-block
          .content-block__container.row
            .content-block__image.col-10
              .image.image_cover.image-size-1.image-align-left
                img(data-src="https://placehold.co/600/fff/393939?font=montserrat&text=Картинка", alt="image").lazyload
            .content-block__container
              .row
                .content-block__head
                  span.content-block__index 01
                  h5 Lorem ipsum dolor sit
                .content-block__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque quisquam explicabo. Facilis blanditiis deserunt eaque suscipit earum illum esse.

        //block4
        .content-block
          .content-block__container.row
            .content-block__image.col-10.offset-2
              .image.image_cover.image-size-4.image-align-right
                img(data-src="https://placehold.co/600/fff/393939?font=montserrat&text=Картинка", alt="image").lazyload
            .content-block__container
              .row
                .content-block__head
                  span.content-block__index 02
                  h5 Производство разрезных тройников 
                .content-block__content
                  p осуществляется по принципу линейного производства, от пункта входного контроля комплектующих, через сварочные посты, вырезание «улыбки» под приварку отвода к телу тройника, далее пункт разреза тела тройника на обечайки, срезку кромок под подкладные пластины, фрезерный участок под проточку внутреннего диаметра отвода, контроля сварных швов подрядной организацией, дробеструйную и покрасочные камеры к пункту выходного контроля качества готовой продукции.
              

        
  
  
  
  include blocks/form-section