extends layout/layout
block variables
  -var title = sitename+' - Производство'
  -var n1 = true;
  -var next = arenda;
  -var next_name = 'Аренда';
block content
  include blocks/blocks

  section.home-screen(data-mobile-window)
    .home-screen__background
      .image.image_cover.rellax(data-rellax-speed="-3")
        img(data-src="./img/proizvodstvo/photo-1539186607619-df476afe6ff1 1.jpg", alt="image").lazyload
      .background-video(data-src="./videos/IMG_2780.mp4").rellax(data-rellax-speed="-3")
    .home-screen__container
      //NAV START
      if next || prev
        .pager-navigation.container.home-screen__navigation
          if prev
            a(href=prev).button-text
              svg.icon
                use(xlink:href='./img/icons/icons.svg#arrow')
              span=prev_name
          if next
            a(href=next).button-text.pager-navigation__next
              span=next_name
              svg.icon
                use(xlink:href='./img/icons/icons.svg#arrow')
      //NAV END
      .container.home-screen__content
        .row
          h1.home-screen__title.home-screen__item.col-xxl-8.col-xl-9 Производстводим продукцию для врезки под давлением и перекрытия полости магистральных и распределительных трубопроводов
          p.h6.home-screen__text.home-screen__item.col-xxl-3.col-lg-4.col-md-7.col-sm-8 В рамках существующей программы импортозамещения 
    button.scroll-btn.home-screen__scroll.d-xl-none(aria-label='scroll bottom' data-scroll='bottom')
      svg.icon
        use(xlink:href='./img/icons/icons.svg#arrow')


  section.v-section.v-section_type-1.bg-accent.bg-gradient
    .v-section__size-wrapper
      .v-section__outer(data-hide-header)
        .v-section__container.container
          button.scroll-btn.v-section__btn(aria-label='scroll bottom' data-scroll='self')
            svg.icon
              use(xlink:href='./img/icons/icons.svg#arrow')
          .v-section__wrapper
            h2.v-section__title.text-center.text-lg-left Комплектующие изделия и режущий инструмент<br> для оборудования T.D.Williamson
            .v-section__content
              +block7(
                '',
                '01', 
                'ТУ 24.20.40-001-34713450-2020', 
                '<p>Тройники разрезные для выполнения врезок под давлением от 1,2 МПа до 9,8 (10) МПа.</p>',
                './img/proizvodstvo/stock-photo-team-engineers-and-technician-discussing-the-maintenance-of-a-petrochemical-plant-technical-655998421 1.jpg',
                true
              )
              +block4(
                '',
                '02', 
                'ТУ 22.19.73-002-34713450-2020', 
                '<p>Манжеты уплотнительные.</p>',
                './img/proizvodstvo/01.jpg',
                true
              )
              +block3(
                '',
                '03', 
                'ТУ25.73.40-003-ХХХХ-2020', 
                '<p>Инструменты режущие и приспособления к оборудованию Т.D. Williamson.</p>',
                './img/proizvodstvo/stock-photo-team-engineers-and-technician-discussing-the-maintenance-of-a-petrochemical-plant-technical-655998421 2.jpg',
                true
              )

  
  section.content-section.bg-gray.bg-gradient-skew
    .container
      +block4(
        'js-animate-top',
        '01', 
        'Производство', 
        `<ul>
          <li>Разрезных тройников и Фитингов Ду50-Ду1000 на Ру от 1,9 до Ру 10,2 Мпа как для трубопроводов высокого давления, так и для систем газораспределения низкого давления</li>
          <li>Фрез, Сверл и уплотнительных манжет для врезки  и перекрытия трубопроводов</li>
        </ul>`,
        './img/proizvodstvo/IMG_2784.jpg',
        false
      )
      +block1(
        'js-animate-top',
        '02', 
        'Производство разрезных тройников', 
        '<p>Производство разрезных тройников осуществляется в соответствии с требованиями Заказчика по линейному принципу от пункта входного контроля комплектующих до выходного контроля качества готовой продукции. <br>Система менеджмента качества на предприятии соответствует требованиям международного стандарта ISO 9001.</p>',
        './img/proizvodstvo/IMG_6580.jpg',
        false
      )

  
  include blocks/form-section