extends layout/layout
block variables
  -var title = sitename+' - Производство'
  -var n1 = true;
block content
  include blocks/blocks

  section.home-screen(data-mobile-window)
    .home-screen__background
      .image.image_cover.rellax(data-rellax-speed="-3")
        img(data-src="./img/proizvodstvo/photo-1539186607619-df476afe6ff1 1.jpg", alt="image").lazyload
      .background-video(data-src="./videos/IMG_2780.mp4").rellax(data-rellax-speed="-3")
    .home-screen__container
      .container.home-screen__nav
        a(href=arenda).button-text.home-screen__next
          span Аренда
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
      .container.home-screen__content
        .row
          h1.home-screen__title.home-screen__item.col-xxl-8.col-xl-9 Производстводим продукцию для врезки под давлением и перекрытия полости магистральных и распределительных трубопроводов
          p.h6.home-screen__text.home-screen__item.col-xxl-3.col-lg-4.col-md-7.col-sm-8 В рамках существующей программы импортозамещения 
    button.scroll-btn.home-screen__scroll.d-xl-none(aria-label='scroll bottom' data-scroll='bottom')
      svg.icon
        use(xlink:href='./img/icons/icons.svg#arrow')


  section.v-section.v-section_type-1.bg-accent.bg-gradient
    .v-section__size-wrapper
      .v-section__outer(data-hide-header)
        .v-section__container.container
          button.scroll-btn.v-section__btn(aria-label='scroll bottom' data-scroll='self')
            svg.icon
              use(xlink:href='./img/icons/icons.svg#arrow')
          .v-section__wrapper
            h2.v-section__title.text-center.text-lg-left Комплектующие изделия и режущий инструмент<br> для оборудования T.D.Williamson
            .v-section__content
              +block7(
                '',
                '01', 
                'ТУ 22.19.73-002-34713450-2020', 
                'Манжеты уплотнительные.',
                './img/proizvodstvo/dsddd.jpg',
                true
              )
              +block4(
                '',
                '02', 
                'ТУ 24.20.40-001-34713450-2020', 
                'Тройники разрезные для выполнения врезок под давлением от 1,2 МПа до 9,8 (10) МПа.',
                './img/proizvodstvo/shutterstock_475236304.jpg',
                true
              )
              +block3(
                '',
                '03', 
                'ТУ25.73.40-003-ХХХХ-2020', 
                'Инструменты режущие и приспособления к оборудованию Т.D. Williamson.',
                './img/proizvodstvo/ddds.jpg',
                true
              )

  
  section.content-section.bg-gray.bg-gradient-skew
    .container
      +block4(
        'js-animate-top',
        '01', 
        'В настоящее время идет оснащение собственного производства', 
        'Освоена технология изготовления разрезных тройников для врезки и перекрытия под давлением Ду100-Ду700.',
        './img/proizvodstvo/IMG_2784.jpg',
        false
      )
      +block1(
        'js-animate-top',
        '02', 
        'Производство разрезных тройников', 
        'осуществляется по принципу линейного производства, от пункта входного контроля комплектующих, через сварочные посты, вырезание «улыбки» под приварку отвода к телу тройника, далее пункт разреза тела тройника на обечайки, срезку кромок под подкладные пластины, фрезерный участок под проточку внутреннего диаметра отвода, контроля сварных швов подрядной организацией, дробеструйную и покрасочные камеры к пункту выходного контроля качества готовой продукции.',
        './img/proizvodstvo/IMG_6580.jpg',
        false
      )

  
  include blocks/form-section