extends layout/layout
block variables
  -var title = sitename+' - Производство'
  -var n1 = true;
block content
  section.section.home-screen(data-mobile-window)

    .home-screen__background
      .image.image_cover.rellax(data-rellax-speed="-3")
        img(data-src="./img/photo-1539186607619-df476afe6ff1 1.jpg", alt="image").lazyload
      .background-video
        video.background-video__element(muted loop)
          source(data-src='./videos/IMG_6534.mp4' type='video/mp4')

    .home-screen__container
      .container.home-screen__nav
        a(href=arenda).button-text.home-screen__next
          span Аренда
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
      .container.home-screen__content
        .row
          h1.home-screen__title.col-xxl-8.col-xl-9 Производстводим продукцию для врезки под давлением и перекрытия полости магистральных и распределительных трубопроводов
          p.h6.home-screen__text.col-xl-3.col-lg-4.col-md-5 В рамках существующей программы импортозамещения 

  //section.section.bg-accent.bg-gradient.v-section
    .v-section__content(data-hide-header)
      button.scroll-btn.v-section__btn(aria-label='scroll bottom' data-scroll='self')
        svg.icon
          use(xlink:href='./img/icons/icons.svg#arrow')
      .v-section__inner.container
        .v-section__container
          h2.h1 Комплектующие изделия и режущий инструмент<br> для оборудования T.D.Williamson

  section.section.content-section.bg-gray.bg-gradient-skew
    .container
      .row
    

        
  
  
  
  include blocks/form-section