extends layout/layout
block variables
  -var title = sitename+' - Ремонт'
  -var n4 = true;
block content
  section.section.home-screen

    .home-screen__background
      .image.image_cover
        img(src="./img/ddkdkdkd.jpg", alt="image").lazyload

    .home-screen__container
      .container.home-screen__nav
        a(href=servis).button-text.home-screen__prev
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
          span Сервис
        a(href=education).button-text.home-screen__next
          span Обучение
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
      .container.home-screen__content
        .row
          h1.home-screen__title.col-xxl-6.col-xl-7.col-lg-8 Оказывает услуги ремонту и обслуживанию оборудования производства T.D.Williamson
          p.h6.home-screen__text.col-xl-3.col-lg-4.col-md-5 ООО НК «Евразия» является представителем группы компаний Т.D. Williamson 

  include blocks/form-section