extends layout/layout
block variables
  -var title = sitename+' - Ремонт'
  -var n4 = true;
block content
  include blocks/blocks

  section.home-screen(data-mobile-window)
    .home-screen__background
      .image.image_cover.rellax(data-rellax-speed="-3")
        img(src="./img/remont/P902.jpg", alt="image").lazyload
    .home-screen__container
      .container.home-screen__nav
        a(href=arenda).button-text.home-screen__prev
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
          span Аренда
        a(href=education).button-text.home-screen__next
          span Обучение
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
      .container.home-screen__content
        .row
          h1.home-screen__title.home-screen__item.col-xxl-6.col-xl-7.col-lg-8 Оказывает услуги ремонту и обслуживанию оборудования производства T.D.Williamson
          p.h6.home-screen__text.home-screen__item.col-xxl-3.col-lg-4.col-md-7.col-sm-8 ООО НК «Евразия» является представителем группы компаний Т.D. Williamson 
    
    button.scroll-btn.home-screen__scroll.d-xl-none(aria-label='scroll bottom' data-scroll='bottom')
      svg.icon
        use(xlink:href='./img/icons/icons.svg#arrow')

  section.v-section.v-section_type-2.bg-accent.bg-gradient
    .v-section__size-wrapper
      .v-section__outer(data-hide-header)
        .v-section__container.container
          button.scroll-btn.v-section__btn(aria-label='scroll bottom' data-scroll='self')
            svg.icon
              use(xlink:href='./img/icons/icons.svg#arrow')
          .v-section__wrapper
            h2.v-section__title.text-center.text-lg-left Виды ремонта
            .v-section__content
              +block1(
                '',
                '01', 
                'Техническое обслуживание', 
                'Помощь при проектировании подраздела Технологические Решения (ТХ) стадии «П» и стадии «Р».',
                './img/remont/_DSC0534.jpg',
                true
              )
              +block2(
                '',
                '02', 
                'Текущей ремонт (ТР)', 
                '(ведомственных, региональных, федеральных) на специально-строительные и технологические работы, в соответствии с основной деятельностью предприятия.',
                './img/remont/IMG-20161212-WA0017.jpg',
                true
              )
              +block7(
                '',
                '03', 
                'Капитальный ремонт (КР)', 
                'Для выполнения специально-строительных и технологических работ, в соответствии с основной деятельностью предприятия.',
                './img/remont/IMG-20161212-WA0008.jpg',
                true
              )

  section.content-section.bg-light.rslider-block
    .container
      .section-head.rslider-block__head.row
        h4.section-head__title.color-accent.col-xxl-5.col-lg-6 При поступлении заявки на проведении ТО, ТР и КР производятся следующие мероприятия:
        p.offset-xxl-2.offset-lg-1.col-xxl-4.col-lg-5 Приминимо для оборудование для врезки и перекрытия полости трубопроводов по давлением до 10 МПа
      .rslider-block__slider.js-animate-top
        .splide.rslider.row
          .splide__track.rslider__track.col-xl-6.col-lg-8.col-sm-10
            .splide__list.rslider__list
              //slide
              .splide__slide.rslider__slide 
                span.h6.rslider__slide-index 1
                h3.rslider__slide-title.color-accent Осмотр
                p.rslider__slide-text Осмотр оборудования и составление дефектных актов.
              //slide
              .splide__slide.rslider__slide
                span.h6.rslider__slide-index 2
                h3.rslider__slide-title.color-accent Разработка
                p.rslider__slide-text Разработка комплектовочной ведомости, определение состава работ и затрат, разработка сметной документации.
              //slide
              .splide__slide.rslider__slide
                span.h6.rslider__slide-index 3
                h3.rslider__slide-title.color-accent Заключение договора
                p.rslider__slide-text Заключение договора оказания услуг на проведение ТО, ТР и КР.
              //slide
              .splide__slide.rslider__slide 
                span.h6.rslider__slide-index 4
                h3.rslider__slide-title.color-accent Разработка проекта
                p.rslider__slide-text Разработка проекта производства работ и операционно-технологических карт.
              //slide
              .splide__slide.rslider__slide 
                span.h6.rslider__slide-index 5
                h3.rslider__slide-title.color-accent Комплектация
                p.rslider__slide-text Комплектация объекта проведения ТО, ТР и КР расходными ремонтными материалами.
              //slide
              .splide__slide.rslider__slide 
                span.h6.rslider__slide-index 6
                h3.rslider__slide-title.color-accent Выезд специалистов
                p.rslider__slide-text Выезд специалистов ОГМ до места проведения работ или вывоз оборудования до места проведения работ в сервисные центры ООО НК «Евразия».
              //slide
              .splide__slide.rslider__slide 
                span.h6.rslider__slide-index 7
                h3.rslider__slide-title.color-accent Ремонт
                p.rslider__slide-text Проведение работ по ТО, ТР и КР оборудования для врезки и перекрытия полости.
              //slide
              .splide__slide.rslider__slide 
                span.h6.rslider__slide-index 8
                h3.rslider__slide-title.color-accent Результат
                p.rslider__slide-text Сдача результатов оказания услуг Заказчику.
              //slide
              .splide__slide.rslider__slide 
                span.h6.rslider__slide-index 9
                h3.rslider__slide-title.color-accent Отчёт
                p.rslider__slide-text Сдача исполнительно-технической и отчетной документации.



  section.content-section.bg-gray.bg-gradient-skew
    .container
      .section-head.row.text-center.text-lg-left
        h2.section-head__title.col-xxl-6.col-xl-7 В настоящее время,<br> у ООО НК «Евразия» имеются:
    .container
      +block4(
        'js-animate-top',
        '01', 
        'Специализированные оборудованные сервисные центры в Московской и Самарской областях', 
        'Объединенных в Отдел главного механика (ОГМ) и обученных по специальности «слесарь-ремонтник 6 разряда по ремонту специализированного оборудования для врезки и перекрытия полости трубопроводов», имеющих опыт по специальности свыше 5 (пяти) лет.',
        './img/remont/IMG_3017-2.jpg',
        false
      )
      +block3(
        'js-animate-top',
        '02', 
        'Специализированное оригинальное оборудование и ручной инструмент', 
        'Объединенных в Отдел главного механика (ОГМ) и обученных по специальности «слесарь-ремонтник 6 разряда по ремонту специализированного оборудования для врезки и перекрытия полости трубопроводов», имеющих опыт по специальности свыше 5 (пяти) лет.',
        './img/remont/IMG_0283.jpg',
        false
      )
      +block6(
        'js-animate-top',
        '03', 
        'Годовой запас частей импортного и отечественного производства', 
        'Объединенных в Отдел главного механика (ОГМ) и обученных по специальности «слесарь-ремонтник 6 разряда по ремонту специализированного оборудования для врезки и перекрытия полости трубопроводов», имеющих опыт по специальности свыше 5 (пяти) лет.',
        './img/remont/WP_20150316_14_38_10_Pro.jpg',
        false,
        'Объединенных в Отдел'
      )

      //block7
      .content-block.content-block-bg.js-animate-top
        .content-block__container.row
          .content-block__image.col-sm-10.col-md-12
            .image.image_cover.image-size-1.image-stretch
              img(data-src="./img/remont/PHOTO-2018-09-17-13-18-.jpg", alt="image").lazyload
            .content-block-bg__mask
          .content-block__text.js-animate-top.offset-md-4.offset-xl-6.offset-xxl-7.col-sm-10.col-md-8.col-xl-6.col-xxl-5
            .row
              .content-block__head
                span.content-block__index 04
                h5 Большой штат высококвалифицированных инженеров-механиков
              .content-block__content
                p Объединенных в Отдел главного механика (ОГМ) и обученных по специальности «слесарь-ремонтник 6 разряда по ремонту специализированного оборудования для врезки и перекрытия полости трубопроводов», имеющих опыт по специальности свыше 5 (пяти) лет.


  
  include blocks/form-section