extends layout/layout
block variables
  -var title = sitename+' - Сервис'
  -var n3 = true;
block content
  section.section.home-screen(data-mobile-window)

    .home-screen__container
      .container.home-screen__nav
        a(href=arenda).button-text.home-screen__prev
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
          span Аренда
        a(href=remont).button-text.home-screen__next
          span Ремонт
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
      .container.home-screen__content
        .row
          h1.home-screen__title.col-xxl-6.col-xl-7.col-lg-8 ?????????

  include blocks/form-section