footer.footer
  .footer__container.container
    a(href="./index.html").logo.footer__logo
      img(src="./img/logos/logo2.svg", alt="logo")
    .footer__item
      a(href=privacy) Политика конфеденциальности
    span.footer__copyright © Все права защищены. 2020    