footer.footer
  .container
    .footer__container
      a(href="./index.html").logo.footer__logo
        img(src="./img/logos/logo2.svg", alt="logo")

      span Состав узлов буровой установки, их конструкция.