section.section.form-section.bg-light
  .container
    if contacts_label
      .v-text.form-section__label
        span Контакты
    
    .form-section__head.row
      h2.h1.color-accent.form-section__title.section__title.col-lg-6 Свяжитесь с нами!
      p.offset-xxl-0.offset-xl-2.offset-lg-0.offset-1.col-xl-4.col-lg-6.col-10 Состав узлов буровой установки, их конструкция определяется назначением скважины, условиями и способом бурения.
    form.form
      .form__group.row.flex-column.flex-lg-row.align-items-center.align-items-lg-start
        .form__item.col-10.col-sm-8.col-md-6.col-lg-4
          label.input
            span.input__title Имя
            input(type="text" name="name" data-validate='name' data-required).input__element
            span.input__line
        .form__item.col-10.col-sm-8.col-md-6.col-lg-4
          label.input
            span.input__title Телефон
            input(type="text" name="phone" data-validate='phone' data-required).input__element
            span.input__line
        .form__item.col-10.col-sm-8.col-md-6.col-lg-4
          label.input
            span.input__title Комментарий
            textarea(name="message" data-validate='message').input__element
            span.input__line
        .form__submit.form-section__submit.offset-xxl-6.offset-lg-8.col-10.col-sm-8.col-xxl-2.col-lg-4
          button.button-text.button-text_accent
            span.button-text__loader
            span Отправить
            svg.icon
              use(xlink:href='./img/icons/icons.svg#arrow')
          p.form__message Нажимая кнопку “Отправить” вы соглашаетесь с условиями 
            a(href="privacy.html" rel='noopener' target='_blank') Политики конфиденциальности
        
