header.header(data-scroll-lock-fill-gap)
  .container
    .header__container
      a(href="./index.html").logo.header__logo
        include logo
      .header__right 
        a(href="tel:79101668150").header__phone.h6 +7 (910) 166-81-50
        button(aria-label='change theme' data-theme-toggle).theme-toggle-btn
        button(aria-label='nav button').nav-toggle
          .nav-toggle__burger
            span
              span
            span
              span
            span
              span
          .nav-toggle__close
            span
            span

  include nav