header.header
  .container
    .header__container
      a(href="./index.html").logo.header__logo
        include logo
      .header__right 
        a(href="tel:79101668150").header__phone.h6 +7 (910) 166-81-50
        button(aria-label='change theme').theme-toggle-btn
        button(aria-label='nav button').nav-toggle
          span
          span
          span

  nav.nav
    .nav__bg
    .nav__container
      .nav__block.container
        .nav__content
          button.theme-description(aria-label='theme toggle')
            span.theme-description__item.h6 Светлая тема
            span.theme-description__item.h6 Темная тема
          span.nav__line
          ul.nav__list
            li.nav__item 
              a(href="#").nav__link.h4 Производство 
            li.nav__item
              a(href="#").nav__link.h4 Аренда
            li.nav__item
              a(href="#").nav__link.h4 Сервис
            li.nav__item
              a(href="#").nav__link.h4 Ремонт
            li.nav__item
              a(href="#").nav__link.h4 Обучение
            li.nav__item
              a(href="#").nav__link.h4 Проектирование
            li.nav__item
              a(href="#").nav__link.h4 Контакты
          .nav__bottom
            .socials
              ul.socials__list
                li.socials__item
                  a(href="#").socials__link 
                    | youtube
                    svg.icon
                      use(xlink:href='./img/icons/socials-sprite.svg#youtube')
                li.socials__item
                  a(href="#").socials__link 
                    | instagram
                    svg.icon
                      use(xlink:href='./img/icons/socials-sprite.svg#instagram')
                li.socials__item
                  a(href="#").socials__link 
                    | facebook
                    svg.icon
                      use(xlink:href='./img/icons/socials-sprite.svg#facebook')
    
