header.header(data-scroll-lock-fill-gap)
  .container
    .header__container
      a(href="./index.html").logo.header__logo
        include logo
      .header__right 
        a(href="tel:+74951316972").header__phone.h6 +7 (495) 131-69-72
        button(aria-label='change theme' data-theme-toggle).theme-toggle-btn
        button(aria-label='nav button').nav-toggle
          .nav-toggle__burger
            span
              span
            span
              span
            span
              span
          .nav-toggle__close
            span
            span

  include nav