
.modal.modal-succes#succes
  .modal__wrapper(data-scroll-lock-scrollable)
    .modal-block.bg-gradient
      button.modal-close.modal-block__close(data-modal='close' aria-label='close')
      svg.modal-succes__icon(width='264' height='257' viewBox='0 0 264 257' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M0 257H263.993V0H0V257ZM25.7947 21.3383H131.747H237.977C240.022 21.3383 241.048 21.3383 241.563 21.8514C242.082 22.368 242.082 23.4045 242.082 25.4844V231.958C242.082 236.104 242.082 236.159 237.977 236.159H25.7947C23.8787 236.159 22.9218 236.159 22.4439 235.681C21.9671 235.203 21.9671 234.25 21.9671 232.345V25.0421C21.9671 23.2105 21.9671 22.2847 22.43 21.8167C22.9031 21.3383 23.8599 21.3383 25.7947 21.3383ZM93.4732 78.3877V74.6839C95.6921 74.0758 96.6906 74.6286 97.3563 76.5634C97.8206 78.0333 108.144 103.67 118.809 130.156C129.803 157.458 141.16 185.662 142.455 189.225C143.176 191.216 144.009 191.658 145.895 191.658C162.093 191.603 178.235 191.603 194.433 191.658C196.541 191.658 197.318 191.105 197.318 188.839C197.262 148.76 197.262 108.682 197.318 68.603C197.318 66.2812 196.485 65.7837 194.378 65.839C187.443 65.9495 180.509 66.0048 173.575 65.839C171.135 65.7837 170.469 66.5576 170.469 68.99C170.552 83.42 170.542 97.881 170.531 112.327C170.528 117.139 170.524 121.951 170.524 126.758C170.524 144.559 170.524 162.304 170.469 180.104C170.469 180.861 170.131 181.617 169.794 182.374C169.638 182.723 169.482 183.072 169.359 183.421C169.073 183.171 168.752 182.939 168.432 182.707C167.759 182.22 167.09 181.736 166.752 181.099C164.922 177.506 121.875 71.8646 120.821 68.7136C120.155 66.6682 119.212 65.8942 117.16 65.8942C100.906 65.9495 84.5976 65.9495 68.3442 65.8942C66.3472 65.839 65.5706 66.3365 65.5706 68.4924C65.626 108.682 65.626 148.815 65.5706 189.004C65.5706 191.105 66.3472 191.658 68.3442 191.658C69.3755 191.65 70.4069 191.641 71.4382 191.632C77.6183 191.578 83.7983 191.524 89.9784 191.713C92.863 191.768 93.5287 190.884 93.5287 188.12C93.4455 160.675 93.4559 133.261 93.4662 105.831C93.4697 96.6856 93.4732 87.5384 93.4732 78.3877Z' fill='currentColor')
      .modal__container.modal-succes__container.row
        .col-xxl-8.col-lg-7.col-sm-8.col-10
          h2.modal-succes__title.modal__title Спасибо!
          p Ваша заявка успешно отправлена. На указанный номер скоро позвонит наш менеджер



.modal.modal-form#modal-form
  .modal__wrapper(data-scroll-lock-scrollable)
    .modal-block.bg-light
      button.modal-close.modal-close_dark.modal-block__close(data-modal='close' aria-label='close')
      .modal__container.row
        .modal__title.col-xxl-8.col-lg-7.col-10
          h2.color-accent Свяжитесь с нами!
        .col-xxl-8.col-lg-7
          form.form.modal-form__form
            .row.flex-column.align-items-center.form__group
              .form__item.col-10.col-sm-8.col-md-6.col-lg-12
                label.input
                  span.input__title Имя
                  input(type="text" name="name" data-validate='name' data-required).input__element
                  span.input__line
              .form__item.col-10.col-sm-8.col-md-6.col-lg-12
                label.input
                  span.input__title Телефон
                  input(type="text" name="phone" data-validate='phone' data-required).input__element
                  span.input__line
              .form__item.col-10.col-sm-8.col-md-6.col-lg-12
                label.input
                  span.input__title Комментарий
                  textarea(name="message" data-validate='message').input__element
                  span.input__line
              .form__submit.col-10.col-sm-8.col-lg-12
                button.button-text.button-text_accent
                  span.button-text__loader
                  span Оставить заявку
                  svg.icon
                    use(xlink:href='./img/icons/icons.svg#arrow')
                p.form__message Нажимая кнопку “Оставить заявку” вы соглашаетесь с условиями 
                  a(href="privacy.html" target='_blank') Политики конфиденциальности