//PRELOADER START
style.
  body {
  margin: 0; }
  .preloader {
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background-color: #fff; }
  .preloader__container {
  background: var(--color-bg-accent);
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0; }
  .preloader__container::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
  background: var(--color-gradient);}
  .preloader__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12vw;
  height: 12vw;
  margin: auto; }
  .preloader__back {
  color: var(--color-light); }
  @media (max-width: 1279.98px) {
  .preloader__icon {
  width: 18vw;
  height: 18vw; } }
  @media (max-width: 575.98px) {
  .preloader__icon {
  width: 24vw;
  height: 24vw; } }

.preloader
  .preloader__container
    svg(viewBox='0 0 174 171' fill='#fff').preloader__icon
      defs
        mask(id='mask')
          path(d='M168,164.5c-54,0-108,0-162,0c0-52.7,0-105.4,0-158c54,0,108,0,162,0C168,59.2,168,111.9,168,164.5z\
          M86.8,19.6c-21.7,0-43.3,0-65,0c-2.3,0-2.3,0-2.3,2.3c0,42.5,0,85,0,127.4c0,2.3,0,2.3,2.3,2.3c43.4,0,86.8,0,130.2,0\
          c2.5,0,3-0.1,3-2.7c0-42.3,0-84.5,0-126.8c0-2.5,0-2.5-2.5-2.5C130.7,19.6,108.6,19.6,86.8,19.6z')
          path(d='M64,53.1c-0.8,0.3-0.6,1.4-0.6,2.1c0,22.4,0,44.7,0,67.1c0,1.7-0.4,2.2-2.2,2.2c-4.5-0.1-9-0.1-13.5,0\
          c-1.2,0-1.7-0.3-1.7-1.6c0-24.6,0-49.1,0-73.7c0-1.3,0.5-1.6,1.7-1.6c10.1,0,20.3,0,30.4,0c1.3,0,1.9,0.5,2.3,1.7\
          c0.7,1.9,27.4,66.5,28.6,68.7c0.3,0.6,0.8,1.6,1.6,1.4c0.8-0.2,0.7-1.4,0.7-2c0-10.9,0-21.7,0-32.6c0-11.8,0-23.6,0-35.3\
          c0-1.5,0.4-2,1.9-1.9c4.3,0.1,8.6,0.1,12.9,0c1.3,0,1.8,0.3,1.8,1.7c0,24.5,0,49,0,73.5c0,1.4-0.5,1.7-1.8,1.7\
          c-10.1,0-20.1,0-30.2,0c-1.2,0-1.7-0.3-2.1-1.5c-1.6-4.3-27.5-67.1-28.1-68.9C65.4,52.9,64.8,52.8,64,53.1z')

      svg(width='100%' height='100%' viewBox='0 0 174 171' stroke='currentColor' fill='none' mask='url(#mask)').preloader__back
        path(d='M10 20C10 14.4772 14.4772 10 20 10L154 10C159.523 10 164 14.4772 164 20V151C164 156.523 159.523 161 154 161H20C14.4772 161 10 156.523 10 151V20Z' stroke-width='20')
        path(d='M54.9925 124.038L54.1717 53.7082C54.0893 46.6505 61.147 41.7309 67.7403 44.2502L68.0389 44.3643C70.6996 45.3809 72.8005 47.4839 73.8145 50.1456L100.876 121.18C102.904 126.504 109 129.016 114.19 126.667V126.667C117.727 125.066 120 121.543 120 117.661V46.4595' stroke-width='19')
  
script.
  const $preloader = document.querySelector('.preloader');
  const $preloader_container = document.querySelector('.preloader__container');
  const $preloader_items = document.querySelectorAll('.preloader__back path');
  const preloader_flag = localStorage.getItem('preloader');
  let preloader_time = 0;
  let preloader_mintime = 1;
  let preloader_values = [];
  $preloader_items.forEach(($line, index)=>{
    preloader_values[index] = $line.getTotalLength();
    $line.style.strokeDasharray = preloader_values[index];
  })
  if(!preloader_flag) {
    $preloader_container.style.transition = `opacity ${preloader_mintime/2}s ease-in-out`;
    $preloader_container.style.opacity = '1';
  //
  let interval = setInterval(() => {
    preloader_time+=0.1;
  }, 100);
  //
  setTimeout(() => {
    clearInterval(interval);
    $preloader_items.forEach(($line)=>{
      $line.style.transition = 'none';
    })
  }, preloader_mintime*1000);
  //
  $preloader_items.forEach(($line, index)=>{
    $line.style.strokeDashoffset = preloader_values[index];
  })
  setTimeout(()=>{
    $preloader_items.forEach(($line)=>{
      $line.style.transition = `stroke-dashoffset ${preloader_mintime-0.1}s ease-in-out, opacity ${preloader_mintime/2}s ease-in-out`;
      $line.style.strokeDashoffset = '0';
    })
  }, 100)
  }
  else {
    $preloader_container.style.opacity = '1';
  }

//PRELOADER FINISH