-var sitename = 'НКЕ'

-var home = './index.html'
-var proizvodstvo = './proizvodstvo.html'
-var arenda = './arenda.html'
-var servis = './servis.html'
-var remont = './remont.html'
-var education = './education.html'
-var engineering = './engineering.html'

-var contacts = './contacts.html'

-var privacy = './privacy.html'