section.section.video-slider(data-hide-header)
  .video-slider__background
    .video-slider__wrapper
      svg(viewBox='0 0 120 30' fill='currentColor').content-loader
        circle(cx='15' cy='15' r='15')
          animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
        circle(cx='60' cy='15' r='9' fill-opacity='0.3')
          animate(attributeName='r' from='9' to='9' begin='0s' dur='0.8s' values='9;15;9' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='0.5' to='0.5' begin='0s' dur='0.8s' values='.5;1;.5' calcMode='linear' repeatCount='indefinite')
        circle(cx='105' cy='15' r='15')
          animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
      video.video-slider__video.video-slider__video_reversed(muted playsinline)
        source(data-src='./videos/interactive_reverse.mp4' type='video/mp4')
      video.video-slider__video.video-slider__video_normal(muted playsinline)
        source(data-src='./videos/interactive.mp4' type='video/mp4')
        
  .video-slider__content
    .container
      .video-slider__nav
        button.video-slider__control.video-slider__prev
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
        button.video-slider__control.video-slider__next
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
        span.video-slider__control-round
      .row.video-slider__items

        //titles
        .video-slider__titles.col-xl-5.col-lg-7.col-md-7
          h2.video-slider__title Ремонт<br> газопровода
          h2.video-slider__title Перекрытие<br> газопровода
          h2.video-slider__title Выход<br> газа
          h2.video-slider__title Замена<br> участка
          h2.video-slider__title Поток<br> восстановлен

        .video-slider__timeline.offset-xl-4.offset-lg-1.order-md-3.col-lg-4.col-xl-3.col-md-5
          .video-slider__timeline-line  
            .video-slider__timeline-item
              span 

        //text
        .video-slider__text.order-md-2.col-xl-5.col-lg-7.col-md-7
          p.video-slider__text-item Состав узлов буровой установки, их конструкция определяется назначением скважины, условиями и способом бурения.
          p.video-slider__text-item Состав узлов буровой установки, их конструкция определяется назначением скважины, условиями и способом бурения.
          p.video-slider__text-item Состав узлов буровой установки, их конструкция определяется назначением скважины, условиями и способом бурения.
          p.video-slider__text-item Состав узлов буровой установки, их конструкция определяется назначением скважины, условиями и способом бурения.
          p.video-slider__text-item Состав узлов буровой установки, их конструкция определяется назначением скважины, условиями и способом бурения.

        
        