section.section.video-slider(data-hide-header)
  .video-slider__background
    .video-slider__wrapper
      svg(viewBox='0 0 120 30' fill='currentColor').content-loader
        circle(cx='15' cy='15' r='15')
          animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
        circle(cx='60' cy='15' r='9' fill-opacity='0.3')
          animate(attributeName='r' from='9' to='9' begin='0s' dur='0.8s' values='9;15;9' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='0.5' to='0.5' begin='0s' dur='0.8s' values='.5;1;.5' calcMode='linear' repeatCount='indefinite')
        circle(cx='105' cy='15' r='15')
          animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
      video.video-slider__video.video-slider__video_reversed(muted playsinline)
        source(data-src='./videos/analizer_reverse.mp4' type='video/mp4')
      video.video-slider__video.video-slider__video_normal(muted playsinline)
        source(data-src='./videos/analizer.mp4' type='video/mp4')
  .video-slider__content
    .container
      .video-slider__nav
        button.video-slider__control.video-slider__prev
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
        button.video-slider__control.video-slider__next
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
        span.video-slider__control-round
      .row.video-slider__items
        .video-slider__label.h6.order-md-1.col-lg-12.col-md-4 Что мы делаем

        //titles
        .video-slider__titles.order-md-3.order-lg-2.col-xl-4.col-lg-7.col-md-7
          h2.video-slider__title Эталон<br> в газовой влагометрии
          h2.video-slider__title Анализатор<br> HIGROVISION-MINI
          h2.video-slider__title Визуальный<br> контроль
          h2.video-slider__title Легкое<br> управление
          h2.video-slider__title Длительная<br> автономная работа
          h2.video-slider__title Удобное<br> использование
          h2.video-slider__title Компактные<br> габариты

        .video-slider__timeline.order-md-4.order-lg-4.col-lg-4.col-xl-3.offset-lg-1.col-md-5
          .video-slider__timeline-line  
            .video-slider__timeline-item
              span 

        //text
        .video-slider__text.order-md-2.order-lg-3.col-xl-4.col-lg-7.col-md-8
          p.video-slider__text-item Анализаторы НПО Вымпел — инновационные средства измерения точки росы, температуры конденсации углеводородов с лазерной системой регистрации сигнала.
          p.video-slider__text-item Компактный, переносной, конденсационный газоанализатор с электронным охлаждением зеркала — лучший вариант для оперативного контроля точки росы по воде и углеводородам.
          p.video-slider__text-item Запатентованная двухканальная оптическая система наблюдения поверхности охлаждаемого зеркала с 40-кратным увеличением (микроскоп).
          p.video-slider__text-item Управление осуществляется с помощью клавиатуры и системы индикации рабочих параметров на дисплее прибора.
          p.video-slider__text-item Автономное питание, обеспечиваемое аккумуляторной батареей. Время непрерывной работы, не менее, 12 часов.
          p.video-slider__text-item Конструкция гигрометра предусматривает возможность его монтажа на стандартный штатив(тренога для фото-видеосъемки); также прибор может быть установлен на любую плоскую поверхность.
          p.video-slider__text-item Небольшой вес гигрометра (не более 5 кг) и компактные габариты упрощают его применение для оперативного измерения и контроля параметров.

        
        